Repository mozilla-ai/lumigator, changes with the labels that .github/labeler.yml gives for each.
All labels: api, backend, dependencies, documentation, frontend, gha, schemas, sdk

Fix test
  lumigator/python/mzai/backend/backend/tests/unit/api/routes/test_datasets.py
Labels: none

cleanup Makefile logic
  Makefile
Labels: none

Backend: Decouple datasets service from HTTP presentation layer (#719)
  lumigator/python/mzai/backend/backend/api/routes/datasets.py
  lumigator/python/mzai/backend/backend/main.py
  lumigator/python/mzai/backend/backend/services/datasets.py
  lumigator/python/mzai/backend/backend/services/exceptions/__init__.py
  lumigator/python/mzai/backend/backend/services/exceptions/base_exceptions.py
  lumigator/python/mzai/backend/backend/services/exceptions/dataset_exceptions.py
  lumigator/python/mzai/backend/backend/tests/unit/api/routes/test_datasets.py
Labels: none

Added warning about .env file
  lumigator/python/mzai/backend/README.md
Labels: none

infra: Add base Dockerfile
  lumigator/infra/mzai/podman/base/Dockerfile
  lumigator/infra/mzai/podman/base/requirements-constraints.txt
Labels: none

infra: Introduce Ray image
  lumigator/infra/mzai/podman/ray/Dockerfile
Labels: none

infra: Introduce GPU support for Ray
  lumigator/infra/mzai/podman/vulkan/Dockerfile
Labels: none

Move debugpy logic into makefile
  .env.template
  Makefile
  docs/source/operations-guide/dev.md
  lumigator/python/mzai/backend/backend/tests/__init__.py
  lumigator/python/mzai/jobs/evaluator_lite/tests/__init__.py
  lumigator/python/mzai/jobs/inference/tests/__init__.py
  lumigator/python/mzai/sdk/pyproject.toml
  lumigator/python/mzai/sdk/tests/__init__.py
  lumigator/python/mzai/sdk/uv.lock
  pyproject.toml
  uv.lock
Labels: dependencies, documentation

A non-working example to act as talking point
  lumigator/python/mzai/backend/backend/api/router.py
  lumigator/python/mzai/backend/backend/api/routes/experiments_new.py
  lumigator/python/mzai/backend/backend/api/routes/runs.py
  lumigator/python/mzai/backend/backend/api/tags.py
  lumigator/python/mzai/backend/backend/tests/conftest.py
  lumigator/python/mzai/backend/backend/tests/integration/api/routes/test_api_workflows.py
Labels: none

Explain the new experiments endpoint
  lumigator/python/mzai/backend/backend/api/routes/experiments.py
Labels: none

fix the tags
  lumigator/python/mzai/backend/backend/api/tags.py
Labels: none

Debugpy support for unit tests (#715)
  .env.template
  .vscode/launch.json
  Makefile
  docs/source/operations-guide/dev.md
  lumigator/python/mzai/sdk/pyproject.toml
  lumigator/python/mzai/sdk/uv.lock
  pyproject.toml
  uv.lock
Labels: dependencies, documentation

Fix typo
  lumigator/python/mzai/backend/backend/api/router.py
Labels: none

Simplify supported configuration options for backend chart
  lumigator/infra/mzai/helm/lumigator/charts/backend/README.md
  lumigator/infra/mzai/helm/lumigator/charts/backend/templates/deployment.yaml
  lumigator/infra/mzai/helm/lumigator/charts/backend/templates/service.yaml
  lumigator/infra/mzai/helm/lumigator/charts/backend/values.yaml
Labels: none

Remove unneeded config options from the front end chart
  lumigator/infra/mzai/helm/lumigator/charts/frontend/templates/deployment.yaml
  lumigator/infra/mzai/helm/lumigator/charts/frontend/values.yaml
Labels: none

Move readme to main chart
  lumigator/infra/mzai/helm/lumigator/README.md
Labels: none

Update readme
  lumigator/infra/mzai/helm/lumigator/README.md
Labels: none

Initial commit to update docs
  docs/source/operations-guide/kubernetes.md
Labels: documentation

WIP
  docs/source/operations-guide/kubernetes.md
Labels: documentation

Changing Ray cluster version
  lumigator/infra/mzai/helm/lumigator/values.yaml
Labels: none

Update lumigator/python/mzai/backend/README.md
  lumigator/python/mzai/backend/README.md
Labels: none

724 update backend documentation (#727)
  docs/source/get-started/installation.md
  docs/source/operations-guide/dev.md
  docs/source/user-guides/inference.md
  lumigator/python/mzai/backend/README.md
Labels: documentation

Add upstream error for completions, remove unused methods for listing models, configure mappings
  lumigator/python/mzai/backend/backend/api/routes/completions.py
  lumigator/python/mzai/backend/backend/main.py
  lumigator/python/mzai/backend/backend/services/completions.py
  lumigator/python/mzai/backend/backend/services/exceptions/completion_exceptions.py
Labels: none

improved exception handling in service
  lumigator/python/mzai/backend/backend/services/completions.py
Labels: none

update dataset list when inference job is finished
  lumigator/frontend/src/components/molecules/LDatasetTable.vue
  lumigator/frontend/src/components/pages/LDatasets.vue
  lumigator/frontend/src/stores/datasets/store.js
Labels: none

fix samples property
  lumigator/frontend/src/components/molecules/LExperimentDetails.vue
Labels: none

Update lumigator/frontend/src/components/molecules/LDatasetTable.vue
  lumigator/frontend/src/components/molecules/LDatasetTable.vue
Labels: none

Update lumigator/frontend/src/components/molecules/LExperimentDetails.vue
  lumigator/frontend/src/components/molecules/LExperimentDetails.vue
Labels: none

Update lumigator/frontend/src/components/molecules/LExperimentDetails.vue
  lumigator/frontend/src/components/molecules/LExperimentDetails.vue
Labels: none

Update lumigator/frontend/src/components/molecules/LInferenceJobsTable.vue
  lumigator/frontend/src/components/molecules/LInferenceJobsTable.vue
Labels: none

Update lumigator/frontend/src/components/molecules/LInferenceJobsTable.vue
  lumigator/frontend/src/components/molecules/LInferenceJobsTable.vue
Labels: none

Update lumigator/frontend/src/components/molecules/LInferenceJobsTable.vue
  lumigator/frontend/src/components/molecules/LInferenceJobsTable.vue
Labels: none

Update lumigator/frontend/src/components/pages/LDatasets.vue
  lumigator/frontend/src/components/pages/LDatasets.vue
Labels: none

Update lumigator/frontend/src/stores/experiments/store.js
  lumigator/frontend/src/stores/experiments/store.js
Labels: none

typo fixed
  lumigator/frontend/src/components/pages/LDatasets.vue
Labels: none

typo fixed
  lumigator/frontend/src/components/molecules/LExperimentDetails.vue
Labels: none

Update Makefile
  Makefile
Labels: none

update gitignore to include new env diff files
  .gitignore
Labels: none

🧹
  lumigator/frontend/src/components/pages/LDatasets.vue
  lumigator/frontend/src/stores/datasets/store.js
Labels: none

make dataset list react when inference is finished
  lumigator/frontend/src/components/molecules/LDatasetTable.vue
  lumigator/frontend/src/components/molecules/LInferenceJobsTable.vue
  lumigator/frontend/src/components/pages/LDatasets.vue
Labels: none

.github/labeler.yml:

api:
- changed-files:
  - any-glob-to-any-file: 'lumigator/lumigator/backend/backend/api/**'
backend:
- changed-files:
  - any-glob-to-any-file: 'lumigator/lumigator/backend/**'
dependencies:
- changed-files:
  - any-glob-to-any-file: 'pyproject.toml'
documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/**'
frontend:
- changed-files:
  - any-glob-to-any-file: 'frontend/**'
gha:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/**'
schemas:
- changed-files:
  - any-glob-to-any-file: 'lumigator/lumigator/schemas/**'
sdk:
- changed-files:
  - any-glob-to-any-file: 'lumigator/lumigator/sdk/**'
