Repository mozilla-ai/lumigator, changes with the labels that .github/labeler.yml gives for each.
All labels: api, backend, dependencies, documentation, frontend, gha, schemas, sdk

Fix some paths
  docs/source/conceptual-guides/endpoints.md
  docs/source/get-started/installation.md
  docs/source/operations-guide/alembic.md
Labels: documentation

more cleanup
  docs/source/conceptual-guides/quickstart.md
  docs/source/conceptual-guides/ui-guide.md
  docs/source/conf.py
  docs/source/operations-guide/alembic.md
Labels: documentation

fix links
  docs/source/conf.py
  lumigator/lumigator/sdk/tests/data/job-submit-resp.json
  lumigator/lumigator/sdk/tests/data/jobs-submit.json
Labels: documentation, sdk

better dynamic hash
  docs/source/conceptual-guides/endpoints.md
  docs/source/conceptual-guides/new-endpoint.md
  docs/source/conf.py
  docs/source/get-started/installation.md
  docs/source/get-started/quickstart.md
  docs/source/get-started/ui-guide.md
  docs/source/operations-guide/alembic.md
Labels: documentation

handle md
  docs/source/conf.py
Labels: documentation

i will make this work
  docs/source/conf.py
Labels: documentation

enable substitutions
  docs/source/conf.py
Labels: documentation

enable substitutions
  docs/source/conceptual-guides/endpoints.md
  docs/source/conceptual-guides/new-endpoint.md
  docs/source/conf.py
  docs/source/get-started/installation.md
  docs/source/get-started/quickstart.md
  docs/source/get-started/ui-guide.md
  docs/source/operations-guide/alembic.md
  frontend/Dockerfile
Labels: documentation, frontend

enable substitutions
  docs/source/conf.py
Labels: documentation

enable substitutions
  .github/workflows/build_and_publish_docs.yaml
  docs/source/conf.py
Labels: documentation, gha

enable substitutions
  docs/source/conf.py
Labels: documentation

Fix link rendering
  docs/source/conceptual-guides/endpoints.md
  docs/source/conceptual-guides/new-endpoint.md
  docs/source/get-started/installation.md
  docs/source/get-started/quickstart.md
  docs/source/get-started/ui-guide.md
  docs/source/operations-guide/alembic.md
Labels: documentation

add back the init
  lumigator/lumigator/jobs/evaluator/__init__.py
Labels: none

Remove view option (#697)
  lumigator/frontend/src/components/molecules/LDatasetTable.vue
  lumigator/frontend/src/components/organisms/LDatasetDetails.vue
  lumigator/frontend/src/components/pages/LDatasets.vue
Labels: none

Created troubleshooting section, added disk space error (#713)
  docs/source/get-started/troubleshooting.md
  docs/source/index.rst
Labels: documentation

Added API keys / tokens troubleshooting section + fixes
  README.md
  docs/source/get-started/installation.md
  docs/source/get-started/suggested-models.md
  docs/source/get-started/troubleshooting.md
  docs/source/operations-guide/dev.md
  docs/source/user-guides/inference.md
  lumigator/python/mzai/backend/README.md
Labels: documentation

Tried to fix HTTP forbidden error by OpenAI
  docs/source/get-started/troubleshooting.md
Labels: documentation

Tried to fix HTTP forbidden error by OpenAI
  docs/source/get-started/troubleshooting.md
Labels: documentation

Added API keys / tokens troubleshooting section + fixes (#720)
  README.md
  docs/source/get-started/installation.md
  docs/source/get-started/suggested-models.md
  docs/source/get-started/troubleshooting.md
  docs/source/operations-guide/dev.md
  docs/source/user-guides/inference.md
  lumigator/python/mzai/backend/README.md
Labels: documentation

Update factory func name
  lumigator/python/mzai/backend/backend/main.py
Labels: none

Add comments to improve clarity
  lumigator/python/mzai/backend/backend/main.py
Labels: none

Remove HTTP from datasets_service
  lumigator/python/mzai/backend/backend/api/routes/datasets.py
  lumigator/python/mzai/backend/backend/main.py
  lumigator/python/mzai/backend/backend/services/datasets.py
  lumigator/python/mzai/backend/backend/services/exceptions/__init__.py
  lumigator/python/mzai/backend/backend/services/exceptions/base_exceptions.py
  lumigator/python/mzai/backend/backend/services/exceptions/dataset_exceptions.py
Labels: none

Update comments and signature
  lumigator/python/mzai/backend/backend/main.py
Labels: none

trigger&display an inference job
  lumigator/frontend/src/components/molecules/LExperimentDetails.vue
  lumigator/frontend/src/components/molecules/LInferenceJobsTable.vue
  lumigator/frontend/src/components/organisms/LDatasetDetails.vue
  lumigator/frontend/src/components/pages/LDatasets.vue
  lumigator/frontend/src/stores/experiments/store.js
Labels: none

🧹
  lumigator/frontend/src/components/molecules/LDatasetTable.vue
Labels: none

refactor triggering event
  lumigator/frontend/src/components/organisms/LDatasetDetails.vue
Labels: none

fix table display
  lumigator/frontend/src/components/pages/LDatasets.vue
  lumigator/frontend/src/components/pages/LExperiments.vue
Labels: none

fix ray env vars
  lumigator/python/mzai/backend/backend/settings.py
Labels: none

fix ray env vars (#721)
  lumigator/python/mzai/backend/backend/settings.py
Labels: none

Remove unused package lock files (#636)
  node_modules/.package-lock.json
  package-lock.json
Labels: none

HotReload for Jobs in Dev Mode
  Dockerfile
Labels: none

Update Dockerfile
  Dockerfile
Labels: none

add warning about env to makefile
  Makefile
Labels: none

Modifying values files
  lumigator/infra/mzai/helm/lumigator/charts/backend/values.yaml
  lumigator/infra/mzai/helm/lumigator/charts/frontend/values.yaml
  lumigator/infra/mzai/helm/lumigator/values.yaml
Labels: none

Exception added to the root ServiceError, log errors with an exception., improve docs.
  lumigator/python/mzai/backend/backend/main.py
  lumigator/python/mzai/backend/backend/services/datasets.py
  lumigator/python/mzai/backend/backend/services/exceptions/base_exceptions.py
  lumigator/python/mzai/backend/backend/services/exceptions/dataset_exceptions.py
Labels: none

Updated backend README.md file
  lumigator/python/mzai/backend/README.md
Labels: none

Fixed broken links to troubleshooting
  docs/source/get-started/installation.md
  docs/source/operations-guide/dev.md
  docs/source/user-guides/inference.md
Labels: documentation

HotReload for Jobs in Dev Mode (#725)
  Dockerfile
Labels: none

Move error handling from some routes to service (removing HTTP component)
  lumigator/python/mzai/backend/backend/api/routes/datasets.py
  lumigator/python/mzai/backend/backend/services/datasets.py
Labels: none

Update comments
  lumigator/python/mzai/backend/backend/main.py
Labels: none

.github/labeler.yml:

api:
- changed-files:
  - any-glob-to-any-file: 'lumigator/lumigator/backend/backend/api/**'
backend:
- changed-files:
  - any-glob-to-any-file: 'lumigator/lumigator/backend/**'
dependencies:
- changed-files:
  - any-glob-to-any-file: 'pyproject.toml'
documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/**'
frontend:
- changed-files:
  - any-glob-to-any-file: 'frontend/**'
gha:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/**'
schemas:
- changed-files:
  - any-glob-to-any-file: 'lumigator/lumigator/schemas/**'
sdk:
- changed-files:
  - any-glob-to-any-file: 'lumigator/lumigator/sdk/**'
