Repository mozilla-ai/lumigator, changes with the labels that .github/labeler.yml gives for each.
All labels: api, backend, dependencies, documentation, frontend, gha, schemas, sdk

.github/labeler.yml:

api:
- changed-files:
  - any-glob-to-any-file: 'lumigator/backend/backend/api/**'
backend:
- changed-files:
  - any-glob-to-any-file: 'lumigator/backend/**'
dependencies:
- changed-files:
  - any-glob-to-any-file: 'pyproject.toml'
documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/**'
frontend:
- changed-files:
  - any-glob-to-any-file: 'lumigator/frontend/**'
gha:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/**'
schemas:
- changed-files:
  - any-glob-to-any-file: 'lumigator/schemas/**'
sdk:
- changed-files:
  - any-glob-to-any-file: 'lumigator/sdk/**'

don't need to change the frontend dockerfile
  lumigator/frontend/Dockerfile
Labels: frontend

Rename const class attributes
  lumigator/python/mzai/backend/backend/services/jobs.py
Labels: none

Update comment
  lumigator/python/mzai/backend/backend/services/jobs.py
Labels: none

Decouple experiment service layer from the presentation layer (extract HTTP exceptions) (#754)
  lumigator/python/mzai/backend/backend/api/routes/experiments_new.py
  lumigator/python/mzai/backend/backend/main.py
  lumigator/python/mzai/backend/backend/services/exceptions/experiment_exceptions.py
  lumigator/python/mzai/backend/backend/services/exceptions/job_exceptions.py
  lumigator/python/mzai/backend/backend/services/experiments.py
  lumigator/python/mzai/backend/backend/services/jobs.py
Labels: none

Remove HF cache volume
  docker-compose.yaml
Labels: none

change job_result_download to experiment service
  lumigator/python/mzai/backend/backend/api/deps.py
  lumigator/python/mzai/backend/backend/api/routes/experiments_new.py
Labels: none

fix dataset input
  lumigator/python/mzai/schemas/lumigator_schemas/datasets.py
Labels: none

fetch jobs by experiment from experiment repo
  lumigator/python/mzai/backend/backend/repositories/experiments.py
  lumigator/python/mzai/backend/backend/repositories/jobs.py
  lumigator/python/mzai/backend/backend/services/experiments.py
Labels: none

fix service deps
  lumigator/python/mzai/backend/backend/api/deps.py
Labels: none

orm get jobs by experiment
  lumigator/python/mzai/backend/backend/repositories/jobs.py
Labels: none

fix experiment query
  lumigator/python/mzai/backend/backend/repositories/jobs.py
Labels: none

fix schemas
  lumigator/python/mzai/backend/backend/services/jobs.py
  lumigator/python/mzai/schemas/lumigator_schemas/jobs.py
Labels: none

add imports after rebase
  lumigator/python/mzai/backend/backend/repositories/jobs.py
Labels: none

remove schema change
  lumigator/python/mzai/schemas/lumigator_schemas/jobs.py
Labels: none

Update lumigator/python/mzai/backend/backend/services/jobs.py
  lumigator/python/mzai/backend/backend/services/jobs.py
Labels: none

Update lumigator/python/mzai/backend/backend/services/jobs.py
  lumigator/python/mzai/backend/backend/services/jobs.py
Labels: none

remove comment
  lumigator/python/mzai/schemas/lumigator_schemas/experiments.py
Labels: none

add service deps
  lumigator/python/mzai/backend/backend/api/deps.py
  lumigator/python/mzai/backend/backend/api/routes/experiments_new.py
  lumigator/python/mzai/schemas/lumigator_schemas/experiments.py
Labels: none

add experiment methods
  lumigator/python/mzai/backend/backend/services/experiments.py
Labels: none

clean up imports
  lumigator/python/mzai/backend/backend/services/experiments.py
Labels: none

remove extra get by id method since covered in jobs
  lumigator/python/mzai/backend/backend/repositories/experiments.py
Labels: none

change types for routes
  lumigator/python/mzai/backend/backend/api/routes/experiments_new.py
  lumigator/python/mzai/backend/backend/services/experiments.py
  lumigator/python/mzai/backend/backend/tests/integration/api/routes/test_api_workflows.py
Labels: none

fix failing int tests
  lumigator/python/mzai/backend/backend/services/experiments.py
  lumigator/python/mzai/backend/backend/tests/integration/api/routes/test_api_workflows.py
Labels: none

testing
  Makefile
  lumigator/python/mzai/backend/backend/api/routes/experiments_new.py
  lumigator/python/mzai/backend/backend/repositories/jobs.py
  lumigator/python/mzai/backend/backend/services/experiments.py
  lumigator/python/mzai/backend/backend/tests/integration/api/routes/test_api_workflows.py
Labels: none

add dataset service
  lumigator/python/mzai/backend/backend/api/deps.py
  lumigator/python/mzai/backend/backend/services/experiments.py
Labels: none

cleanup make
  Makefile
Labels: none

change test and experiment response
  lumigator/python/mzai/backend/backend/api/routes/experiments_new.py
  lumigator/python/mzai/backend/backend/tests/conftest.py
  lumigator/python/mzai/backend/backend/tests/integration/api/routes/test_api_workflows.py
Labels: none

refactor jobs call
  lumigator/python/mzai/backend/backend/repositories/jobs.py
  lumigator/python/mzai/backend/backend/services/experiments.py
Labels: none

Updated workflow service based on changes to job and experiment service in main
  lumigator/python/mzai/backend/backend/services/jobs.py
  lumigator/python/mzai/backend/backend/services/workflows.py
Labels: none

Setting version
  docker-compose.yaml
Labels: none

Fix bug where object was being used instead of max 'samples' property in experiment details UI
  lumigator/frontend/src/components/molecules/LExperimentDetails.vue
Labels: frontend

Share HF cache from host home (#698)
  .env.template
  .github/workflows/lumigator_pipeline.yaml
  docker-compose.yaml
  docs/source/get-started/installation.md
Labels: documentation, gha

First attempt at a parametrized JobCreate
  lumigator/python/mzai/backend/backend/api/routes/experiments.py
  lumigator/python/mzai/backend/backend/api/routes/jobs.py
  lumigator/python/mzai/backend/backend/services/experiments.py
  lumigator/python/mzai/backend/backend/services/jobs.py
  lumigator/python/mzai/backend/backend/tests/unit/services/test_job_service.py
  lumigator/python/mzai/schemas/lumigator_schemas/jobs.py
Labels: none

Replace templates with pydantic models
  lumigator/python/mzai/backend/backend/api/routes/jobs.py
  lumigator/python/mzai/backend/backend/config_templates.py
  lumigator/python/mzai/backend/backend/services/experiments.py
  lumigator/python/mzai/backend/backend/services/jobs.py
  lumigator/python/mzai/backend/backend/tests/integration/api/routes/test_api_workflows.py
  lumigator/python/mzai/backend/backend/tests/unit/services/test_job_service.py
  lumigator/python/mzai/jobs/inference/inference_config.py
  lumigator/python/mzai/schemas/lumigator_schemas/jobs.py
Labels: none

Adapt SDK and SDK tests
  lumigator/python/mzai/backend/backend/tests/integration/api/routes/test_api_workflows.py
  lumigator/python/mzai/schemas/lumigator_schemas/jobs.py
  lumigator/python/mzai/sdk/lumigator_sdk/jobs.py
  lumigator/python/mzai/sdk/lumigator_sdk/strict_schemas.py
  lumigator/python/mzai/sdk/tests/integration/test_scenarios.py
Labels: none

Fix sdk unit tests
  lumigator/python/mzai/backend/backend/services/jobs.py
  lumigator/python/mzai/sdk/tests/conftest.py
  lumigator/python/mzai/sdk/tests/data/job-all-annotation.json
  lumigator/python/mzai/sdk/tests/data/job-all-eval-lite.json
  lumigator/python/mzai/sdk/tests/data/job-all-inference.json
  lumigator/python/mzai/sdk/tests/data/job-all.json
  lumigator/python/mzai/sdk/tests/data/job-extra-annotation.json
  lumigator/python/mzai/sdk/tests/data/job-extra-eval-lite.json
  lumigator/python/mzai/sdk/tests/data/job-extra-inference.json
  lumigator/python/mzai/sdk/tests/data/job-extra.json
  lumigator/python/mzai/sdk/tests/data/job-minimal-annotation.json
  lumigator/python/mzai/sdk/tests/data/job-minimal-eval-lite.json
  lumigator/python/mzai/sdk/tests/data/job-minimal-inference.json
  lumigator/python/mzai/sdk/tests/unit/test_jobs.py
Labels: none

Fix bug where object was being used instead of max 'samples' property in experiment details UI (#756)
  lumigator/frontend/src/components/molecules/LExperimentDetails.vue
Labels: frontend

Fix issue with backend unit tests
  lumigator/python/mzai/backend/backend/tests/unit/services/test_job_service.py
Labels: none

Setting version (#755)
  docker-compose.yaml
Labels: none

Re-create changes from issue-667-annotation-with-large-texts-fails branch
  lumigator/python/mzai/backend/backend/config_templates.py
  lumigator/python/mzai/jobs/inference/inference.py
  lumigator/python/mzai/jobs/inference/inference_config.py
  lumigator/python/mzai/jobs/inference/model_clients.py
  lumigator/python/mzai/jobs/inference/schemas.py
  lumigator/python/mzai/sample_data/mock_long_sequences_no_gt.csv
  lumigator/python/mzai/sdk/tests/conftest.py
  lumigator/python/mzai/sdk/tests/integration/test_scenarios.py
Labels: none
