Repository mozilla-ai/lumigator, changes with the labels that .github/labeler.yml gives for each.
All labels: api, backend, dependencies, documentation, frontend, gha, schemas, sdk

.github/labeler.yml:

api:
- changed-files:
  - any-glob-to-any-file: 'lumigator/lumigator/backend/backend/api/**'
backend:
- changed-files:
  - any-glob-to-any-file: 'lumigator/lumigator/backend/**'
dependencies:
- changed-files:
  - any-glob-to-any-file: 'pyproject.toml'
documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/**'
frontend:
- changed-files:
  - any-glob-to-any-file: 'frontend/**'
gha:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/**'
schemas:
- changed-files:
  - any-glob-to-any-file: 'lumigator/lumigator/schemas/**'
sdk:
- changed-files:
  - any-glob-to-any-file: 'lumigator/lumigator/sdk/**'

fix(doc): RAY_WORKER_GPUS* (#743)
  README.md
Labels: none

Updating documentation (#745)
  docs/source/operations-guide/configure-S3.md
  docs/source/operations-guide/kubernetes.md
  lumigator/README.md
  lumigator/infra/mzai/helm/lumigator/Chart.yaml
  lumigator/infra/mzai/helm/lumigator/README.md
  lumigator/infra/mzai/helm/lumigator/charts/backend/Chart.yaml
  lumigator/infra/mzai/helm/lumigator/charts/backend/README.md
  lumigator/infra/mzai/helm/lumigator/charts/backend/values.yaml
  lumigator/infra/mzai/helm/lumigator/charts/frontend/Chart.yaml
  lumigator/infra/mzai/helm/lumigator/charts/frontend/README.md
  lumigator/infra/mzai/helm/ray/ray-cluster.yaml
Labels: documentation

Changing tag regexp
  .github/workflows/lumigator_pipeline.yaml
Labels: gha

Changing regexp for tags
  .github/workflows/lumigator_pipeline.yaml
Labels: gha

Changing tag regexp (#749)
  .github/workflows/lumigator_pipeline.yaml
Labels: gha

Mlflow interface created
  .env.template
  docker-compose.yaml
  lumigator/python/mzai/backend/backend/settings.py
  lumigator/python/mzai/backend/backend/tracking/__init__.py
  lumigator/python/mzai/backend/backend/tracking/mlflow.py
  lumigator/python/mzai/backend/backend/tracking/tracking_factory.py
  lumigator/python/mzai/backend/backend/tracking/tracking_interface.py
  lumigator/python/mzai/backend/pyproject.toml
  lumigator/python/mzai/schemas/lumigator_schemas/workflows.py
  pyproject.toml
  uv.lock
Labels: dependencies

messed up naming dup
  lumigator/python/mzai/backend/backend/settings.py
Labels: none

Changing version for the release
  lumigator/python/mzai/backend/uv.lock
  lumigator/python/mzai/schemas/pyproject.toml
  lumigator/python/mzai/sdk/pyproject.toml
  lumigator/python/mzai/sdk/uv.lock
Labels: none

Changing version for the release (#751)
  lumigator/python/mzai/backend/uv.lock
  lumigator/python/mzai/schemas/pyproject.toml
  lumigator/python/mzai/sdk/pyproject.toml
  lumigator/python/mzai/sdk/uv.lock
Labels: none

Deleting extra character
  tools/check_version.sh
Labels: none

Changing version
  lumigator/python/mzai/backend/uv.lock
  lumigator/python/mzai/schemas/pyproject.toml
  lumigator/python/mzai/sdk/pyproject.toml
  lumigator/python/mzai/sdk/uv.lock
Labels: none

Changing version (#753)
  lumigator/python/mzai/backend/uv.lock
  lumigator/python/mzai/schemas/pyproject.toml
  lumigator/python/mzai/sdk/pyproject.toml
  lumigator/python/mzai/sdk/uv.lock
Labels: none

Add env var HF_HOME to specify the HF artifact cache
  .env.template
  docs/source/get-started/installation.md
Labels: documentation

Decouple jobs service layer from the presentation layer (extract HTTP exceptions) (#748)
  lumigator/python/mzai/backend/backend/api/routes/jobs.py
  lumigator/python/mzai/backend/backend/main.py
  lumigator/python/mzai/backend/backend/services/datasets.py
  lumigator/python/mzai/backend/backend/services/exceptions/job_exceptions.py
  lumigator/python/mzai/backend/backend/services/experiments.py
  lumigator/python/mzai/backend/backend/services/jobs.py
  lumigator/python/mzai/backend/backend/tests/integration/api/routes/test_api_workflows.py
  lumigator/python/mzai/schemas/lumigator_schemas/jobs.py
Labels: none

Fix typo (unrelated)
  lumigator/python/mzai/backend/backend/services/exceptions/job_exceptions.py
Labels: none

Add experiment exceptions
  lumigator/python/mzai/backend/backend/services/exceptions/experiment_exceptions.py
Labels: none

Watch schemas dir in backend dev mode (#746)
  Dockerfile
Labels: none

Refactor job service
  lumigator/python/mzai/backend/backend/services/jobs.py
Labels: none

Add experiment service changes, route changes and update FastAPI app
  lumigator/python/mzai/backend/backend/api/routes/experiments_new.py
  lumigator/python/mzai/backend/backend/main.py
  lumigator/python/mzai/backend/backend/services/experiments.py
Labels: none

Not yet working, ckpt
  lumigator/python/mzai/backend/backend/api/deps.py
  lumigator/python/mzai/backend/backend/api/routes/experiments.py
  lumigator/python/mzai/backend/backend/services/experiments.py
  lumigator/python/mzai/backend/backend/services/jobs.py
  lumigator/python/mzai/backend/backend/services/workflows.py
  lumigator/python/mzai/schemas/lumigator_schemas/experiments.py
Labels: none

Remove comments
  lumigator/python/mzai/backend/backend/main.py
Labels: none

Address PR comments
  lumigator/python/mzai/backend/backend/api/deps.py
  lumigator/python/mzai/backend/backend/api/routes/workflows.py
  lumigator/python/mzai/backend/backend/services/workflows.py
  lumigator/python/mzai/schemas/lumigator_schemas/workflows.py
Labels: none
