Repository mozilla-ai/lumigator, changes with the labels that .github/labeler.yml gives for each.
All labels: api, backend, dependencies, documentation, frontend, gha, schemas, sdk

only run SDK unit tests when SDK has changes, mark successful otherwise (#402)
  .github/workflows/test_sdk_uv.yaml
Labels: gha

Frontend Dockerfile (#376)
  .env.example
  Makefile
  docker-compose.yaml
  lumigator/frontend/Dockerfile
Labels: frontend

code style
  lumigator/frontend/src/components/molecules/LDatasetTable.vue
Labels: frontend

selecting an experiment
  lumigator/frontend/src/components/molecules/LExperimentTable.vue
  lumigator/frontend/src/components/pages/LExperiments.vue
  lumigator/frontend/src/helpers/index.js
  lumigator/frontend/src/services/experiments/api.js
  lumigator/frontend/src/services/experiments/experimentService.js
  lumigator/frontend/src/stores/experiments/store.js
Labels: frontend

partial fix for 403
  lumigator/python/mzai/sdk/tests/conftest.py
  lumigator/python/mzai/sdk/tests/int_test_datasets.py
Labels: sdk

retrieve experiment data from entrypoint property
  lumigator/frontend/src/helpers/index.js
  lumigator/frontend/src/stores/experiments/store.js
Labels: frontend

display details for experiments
  lumigator/frontend/src/components/molecules/LExperimentDetails.vue
  lumigator/frontend/src/components/molecules/LExperimentTable.vue
  lumigator/frontend/src/components/organisms/LDatasetDetails.vue
  lumigator/frontend/src/components/pages/LExperiments.vue
Labels: frontend

.github/labeler.yml:

api:
- changed-files:
  - any-glob-to-any-file: 'lumigator/python/mzai/backend/backend/api/**'
backend:
- changed-files:
  - any-glob-to-any-file: 'lumigator/python/mzai/backend/**'
dependencies:
- changed-files:
  - any-glob-to-any-file: 'pyproject.toml'
documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/**'
frontend:
- changed-files:
  - any-glob-to-any-file: 'lumigator/frontend/**'
gha:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/**'
schemas:
- changed-files:
  - any-glob-to-any-file: 'lumigator/python/mzai/schemas/**'
sdk:
- changed-files:
  - any-glob-to-any-file: 'lumigator/python/mzai/sdk/**'
