Repository mozilla-ai/lumigator, pull requests merged in 2024-10, with the labels that each got.

#250 Initial work on 'base' SDK and health endpoints.
  lumigator/python/mzai/sdk/BUILD.pants
  lumigator/python/mzai/sdk/client.py
  lumigator/python/mzai/sdk/health.py
  lumigator/python/mzai/sdk/lumigator.py
  lumigator/python/mzai/sdk/tests/BUILD.pants
  lumigator/python/mzai/sdk/tests/__init__.py
  lumigator/python/mzai/sdk/tests/conftest.py
  lumigator/python/mzai/sdk/tests/data/deployment.json
  lumigator/python/mzai/sdk/tests/data/deployments.json
  lumigator/python/mzai/sdk/tests/data/job.json
  lumigator/python/mzai/sdk/tests/data/jobs.json
  lumigator/python/mzai/sdk/tests/test_health.py
Labels: sdk

#253 make the client 'private'
  lumigator/python/mzai/sdk/health.py
Labels: sdk

#252 SDK: Add 'Completions'
  lumigator/python/mzai/backend/backend/api/routes/completions.py
  lumigator/python/mzai/sdk/client.py
  lumigator/python/mzai/sdk/completions.py
  lumigator/python/mzai/sdk/lumigator.py
  lumigator/python/mzai/sdk/tests/conftest.py
  lumigator/python/mzai/sdk/tests/test_completions.py
Labels: sdk

#259 SDK: Add 'experiments'
  .gitignore
  lumigator/python/mzai/backend/schemas/experiments.py
  lumigator/python/mzai/sdk/experiments.py
  lumigator/python/mzai/sdk/lumigator.py
  lumigator/python/mzai/sdk/tests/BUILD.pants
  lumigator/python/mzai/sdk/tests/conftest.py
  lumigator/python/mzai/sdk/tests/data/experiment-download-no-experiment.json
  lumigator/python/mzai/sdk/tests/data/experiment-download.json
  lumigator/python/mzai/sdk/tests/data/experiment-missing.json
  lumigator/python/mzai/sdk/tests/data/experiment-post-all.json
  lumigator/python/mzai/sdk/tests/data/experiment-post-response.json
  lumigator/python/mzai/sdk/tests/data/experiment-post-simple.json
  lumigator/python/mzai/sdk/tests/data/experiment-result-no-experiment.json
  lumigator/python/mzai/sdk/tests/data/experiment-result.json
  lumigator/python/mzai/sdk/tests/data/experiment.json
  lumigator/python/mzai/sdk/tests/data/experiments.json
  lumigator/python/mzai/sdk/tests/helpers.py
  lumigator/python/mzai/sdk/tests/test_experiments.py
Labels: sdk

#255 SDK: add `datasets`
  Makefile
  lumigator/python/mzai/backend/backend/main.py
  lumigator/python/mzai/sdk/README.md
  lumigator/python/mzai/sdk/client.py
  lumigator/python/mzai/sdk/completions.py
  lumigator/python/mzai/sdk/lm_datasets.py
  lumigator/python/mzai/sdk/lumigator.py
  lumigator/python/mzai/sdk/tests/conftest.py
  lumigator/python/mzai/sdk/tests/data/dataset.json
  lumigator/python/mzai/sdk/tests/data/datasets.json
  lumigator/python/mzai/sdk/tests/test_datasets.py
  lumigator/python/mzai/sdk/tests/test_health.py
Labels: sdk

#307 Backend: Introduce `alembic` to assist with database migrations
  .github/pull_request_template.md
  lumigator/python/mzai/backend/.alembic/README.md
  lumigator/python/mzai/backend/.alembic/env.py
  lumigator/python/mzai/backend/.alembic/script.py.mako
  lumigator/python/mzai/backend/.alembic/versions/e75fa022c781_create_db.py
  lumigator/python/mzai/backend/README.md
  lumigator/python/mzai/backend/alembic.ini
  lumigator/python/mzai/backend/backend/main.py
  lumigator/python/mzai/backend/backend/tests/conftest.py
  lumigator/python/mzai/backend/pyproject.toml
  lumigator/python/mzai/backend/uv.lock
Labels: dependencies, backend

#320 Backend: Tests use Alembic
  lumigator/python/mzai/backend/alembic.ini
  lumigator/python/mzai/backend/backend/alembic/README.md
  lumigator/python/mzai/backend/backend/alembic/env.py
  lumigator/python/mzai/backend/backend/alembic/script.py.mako
  lumigator/python/mzai/backend/backend/alembic/versions/e75fa022c781_create_db.py
  lumigator/python/mzai/backend/backend/main.py
  lumigator/python/mzai/backend/backend/tests/conftest.py
Labels: backend
