Repository mozilla-ai/lumigator, pull requests merged in 2024-12, with the labels that each got.

#456 Experiment logs
  lumigator/frontend/src/components/molecules/LDatasetTable.vue
  lumigator/frontend/src/components/molecules/LExperimentDetails.vue
  lumigator/frontend/src/components/molecules/LExperimentLogs.vue
  lumigator/frontend/src/components/molecules/LExperimentTable.vue
  lumigator/frontend/src/components/molecules/LExperimentTabs.vue
  lumigator/frontend/src/components/molecules/LExperimentsDrawer.vue
  lumigator/frontend/src/components/molecules/LResultsDrawer.vue
  lumigator/frontend/src/components/pages/LExperiments.vue
  lumigator/frontend/src/services/experiments/api.js
  lumigator/frontend/src/services/experiments/experimentService.js
  lumigator/frontend/src/services/health/healthService.js
  lumigator/frontend/src/stores/experiments/store.js
  lumigator/frontend/src/styles/_components.scss
  lumigator/frontend/src/styles/_variables.scss
Labels: frontend

#469 Demo layout fixes
  lumigator/frontend/src/App.vue
  lumigator/frontend/src/assets/LogoText.svg
  lumigator/frontend/src/assets/icons/DatasetsIcon.svg
  lumigator/frontend/src/assets/icons/ExperimentIcon.svg
  lumigator/frontend/src/assets/lumigator.svg
  lumigator/frontend/src/components/molecules/LDatasetEmpty.vue
  lumigator/frontend/src/components/molecules/LDatasetTable.vue
  lumigator/frontend/src/components/molecules/LExperimentDetails.vue
  lumigator/frontend/src/components/molecules/LExperimentForm.vue
  lumigator/frontend/src/components/molecules/LExperimentResults.vue
  lumigator/frontend/src/components/molecules/LExperimentsEmpty.vue
  lumigator/frontend/src/components/molecules/LModelCards.vue
  lumigator/frontend/src/components/molecules/LPageHeader.vue
  lumigator/frontend/src/components/organisms/LMenu.vue
  lumigator/frontend/src/components/pages/LDatasets.vue
  lumigator/frontend/src/components/pages/LExperiments.vue
  lumigator/frontend/src/libs/primevue.config.js
  lumigator/frontend/src/router/index.js
  lumigator/frontend/src/styles/_components.scss
  lumigator/frontend/src/styles/_icons.scss
  lumigator/frontend/src/styles/_resetcss.scss
  lumigator/frontend/src/styles/_variables.scss
  lumigator/frontend/src/styles/app.scss
Labels: frontend

#471 tooltip for setup information
  lumigator/frontend/src/App.vue
  lumigator/frontend/src/components/organisms/LMenu.vue
  lumigator/frontend/src/main.js
Labels: frontend

#425 Check tag consistency as a requirement to publishing
  .github/workflows/build_and_push_sdk_packages.yaml
  CONTRIBUTING.md
  tools/check_version.sh
Labels: gha, schemas

#476 chore: Fix bullet list in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#477 339 support seq2seq models
  .gitignore
  docs/source/get-started/quickstart.md
  docs/source/index.rst
  docs/source/user-guides/evaluation.md
  docs/source/user-guides/inference.md
  lumigator/python/mzai/backend/backend/config_templates.py
  lumigator/python/mzai/backend/backend/services/jobs.py
  lumigator/python/mzai/jobs/inference/inference.py
  lumigator/python/mzai/jobs/inference/inference_config.py
  lumigator/python/mzai/jobs/inference/model_clients.py
  lumigator/python/mzai/jobs/inference/paths.py
  lumigator/python/mzai/jobs/inference/requirements.txt
  lumigator/python/mzai/jobs/inference/tests/conftest.py
  lumigator/python/mzai/jobs/inference/tests/data/config_full_api.json
  lumigator/python/mzai/jobs/inference/tests/data/config_full_hf.json
  lumigator/python/mzai/jobs/inference/tests/data/config_minimal.json
  lumigator/python/mzai/jobs/inference/tests/test_configs.py
  lumigator/python/mzai/jobs/inference/utils.py
  lumigator/python/mzai/schemas/lumigator_schemas/jobs.py
  lumigator/python/mzai/sdk/lumigator_sdk/jobs.py
Labels: documentation, enhancement, sdk, backend, schemas

#464 Refactor `model_path` to `model_uri`
  lumigator/python/mzai/backend/backend/config_templates.py
  lumigator/python/mzai/backend/backend/services/jobs.py
  lumigator/python/mzai/jobs/evaluator/evaluator/configs/jobs/hf_evaluate.py
  lumigator/python/mzai/jobs/evaluator/evaluator/jobs/asset_loader.py
  lumigator/python/mzai/jobs/evaluator/evaluator/jobs/evaluation/lm_harness.py
  lumigator/python/mzai/jobs/evaluator/evaluator/paths.py
  lumigator/python/mzai/jobs/inference/inference.py
  lumigator/python/mzai/jobs/inference/inference_config.py
  lumigator/python/mzai/jobs/inference/tests/data/config_full_hf.json
  lumigator/python/mzai/jobs/inference/tests/test_configs.py
  lumigator/python/mzai/sdk/tests/conftest.py
Labels: sdk, backend

#440 Display Experiment results
  docker-compose.yaml
  lumigator/frontend/src/App.vue
  lumigator/frontend/src/assets/LogoText.svg
  lumigator/frontend/src/assets/icons/DatasetsIcon.svg
  lumigator/frontend/src/assets/icons/ExperimentIcon.svg
  lumigator/frontend/src/assets/lumigator.svg
  lumigator/frontend/src/components/molecules/LDatasetEmpty.vue
  lumigator/frontend/src/components/molecules/LDatasetTable.vue
  lumigator/frontend/src/components/molecules/LExperimentDetails.vue
  lumigator/frontend/src/components/molecules/LExperimentForm.vue
  lumigator/frontend/src/components/molecules/LExperimentLogs.vue
  lumigator/frontend/src/components/molecules/LExperimentResults.vue
  lumigator/frontend/src/components/molecules/LExperimentTable.vue
  lumigator/frontend/src/components/molecules/LExperimentTabs.vue
  lumigator/frontend/src/components/molecules/LExperimentsDrawer.vue
  lumigator/frontend/src/components/molecules/LExperimentsEmpty.vue
  lumigator/frontend/src/components/molecules/LModelCards.vue
  lumigator/frontend/src/components/molecules/LPageHeader.vue
  lumigator/frontend/src/components/organisms/LDatasetDetails.vue
  lumigator/frontend/src/components/organisms/LMenu.vue
  lumigator/frontend/src/components/pages/LDatasets.vue
  lumigator/frontend/src/components/pages/LExperiments.vue
  lumigator/frontend/src/libs/primevue.config.js
  lumigator/frontend/src/main.js
  lumigator/frontend/src/router/index.js
  lumigator/frontend/src/services/experiments/api.js
  lumigator/frontend/src/services/experiments/experimentService.js
  lumigator/frontend/src/services/health/healthService.js
  lumigator/frontend/src/stores/experiments/store.js
  lumigator/frontend/src/styles/_components.scss
  lumigator/frontend/src/styles/_icons.scss
  lumigator/frontend/src/styles/_resetcss.scss
  lumigator/frontend/src/styles/_variables.scss
  lumigator/frontend/src/styles/app.scss
Labels: backend, frontend

#502 Retrofit requests-mock in SDK
  lumigator/python/mzai/sdk/pyproject.toml
  lumigator/python/mzai/sdk/tests/conftest.py
  lumigator/python/mzai/sdk/tests/integration/test_scenarios.py
  lumigator/python/mzai/sdk/tests/unit/test_completions.py
  lumigator/python/mzai/sdk/tests/unit/test_datasets.py
  lumigator/python/mzai/sdk/tests/unit/test_health.py
  lumigator/python/mzai/sdk/tests/unit/test_jobs.py
  lumigator/python/mzai/sdk/tests/unit/test_models.py
  lumigator/python/mzai/sdk/uv.lock
Labels: sdk

#496 Disable results btn on failed experiments
  lumigator/frontend/src/components/molecules/LExperimentDetails.vue
  lumigator/frontend/src/styles/_lumigator-theme.scss
Labels: frontend

#497 Download Results
  lumigator/frontend/src/assets/icons/DownloadIcon.svg
  lumigator/frontend/src/components/molecules/LExperimentDetails.vue
  lumigator/frontend/src/components/pages/LExperiments.vue
  lumigator/frontend/src/helpers/index.js
  lumigator/frontend/src/services/experiments/experimentService.js
  lumigator/frontend/src/stores/experiments/store.js
  lumigator/frontend/src/styles/_icons.scss
  lumigator/frontend/src/styles/_lumigator-theme.scss
Labels: frontend

#506 Publish to PyPI and to DockerHub with semver
  .github/workflows/build_and_push_sdk_packages.yaml
  .github/workflows/build_images_frontend.yaml
  .github/workflows/build_images_uv.yaml
Labels: gha

#517 Change inference job's results file name
  docs/source/user-guides/inference.md
  lumigator/python/mzai/jobs/inference/inference.py
Labels: bug, documentation, backend

#520 Changing to PyPI
  .github/workflows/build_and_push_sdk_packages.yaml
Labels: gha

#528 Publish PyPI packages and images with tags
  .github/workflows/build_images_frontend.yaml
  .github/workflows/build_images_uv.yaml
  lumigator/python/mzai/schemas/pyproject.toml
  lumigator/python/mzai/sdk/pyproject.toml
Labels: sdk, gha, schemas

#522 Store the dataset generated by an inference job
  lumigator/python/mzai/backend/backend/alembic/versions/e9679cbc3c36_generated_datasets.py
  lumigator/python/mzai/backend/backend/api/routes/datasets.py
  lumigator/python/mzai/backend/backend/api/routes/experiments.py
  lumigator/python/mzai/backend/backend/api/routes/jobs.py
  lumigator/python/mzai/backend/backend/records/datasets.py
  lumigator/python/mzai/backend/backend/services/datasets.py
  lumigator/python/mzai/backend/backend/services/jobs.py
  lumigator/python/mzai/backend/backend/tests/integration/api/routes/test_api_workflows.py
  lumigator/python/mzai/schemas/lumigator_schemas/datasets.py
Labels: documentation, backend, api, schemas

#536 Fix SDK tests
  .github/workflows/test_sdk_uv.yaml
  lumigator/python/mzai/sdk/tests/data/dataset.json
  lumigator/python/mzai/sdk/tests/data/datasets.json
  lumigator/python/mzai/sdk/uv.lock
Labels: sdk, gha

#529 Changing versions
  lumigator/python/mzai/schemas/pyproject.toml
  lumigator/python/mzai/sdk/pyproject.toml
Labels: sdk, schemas

#538 Fixing errors in SDK pipeline
  .github/workflows/build_and_push_sdk_packages.yaml
  tools/check_version.sh
Labels: gha

#537 SDK transparent error handling
  lumigator/python/mzai/sdk/lumigator_sdk/client.py
  lumigator/python/mzai/sdk/lumigator_sdk/experiments.py
  lumigator/python/mzai/sdk/lumigator_sdk/jobs.py
  lumigator/python/mzai/sdk/lumigator_sdk/lm_datasets.py
  lumigator/python/mzai/sdk/lumigator_sdk/models.py
  lumigator/python/mzai/sdk/tests/unit/test_datasets.py
  lumigator/python/mzai/sdk/tests/unit/test_jobs.py
Labels: sdk

#514 API: Refactor jobs endpoints from `health/` to `jobs/`
  lumigator/frontend/src/components/molecules/LExperimentDetails.vue
  lumigator/frontend/src/components/molecules/LExperimentTable.vue
  lumigator/frontend/src/services/experiments/api.js
  lumigator/frontend/src/services/experiments/experimentService.js
  lumigator/frontend/src/services/health/api.js
  lumigator/frontend/src/services/health/healthService.js
  lumigator/frontend/src/stores/experiments/store.js
  lumigator/frontend/src/stores/health/store.js
  lumigator/python/mzai/backend/backend/api/routes/health.py
  lumigator/python/mzai/backend/backend/api/routes/jobs.py
  lumigator/python/mzai/backend/backend/tests/unit/api/routes/test_health.py
  lumigator/python/mzai/backend/backend/tests/unit/api/routes/test_jobs.py
  lumigator/python/mzai/schemas/lumigator_schemas/jobs.py
  lumigator/python/mzai/sdk/lumigator_sdk/health.py
  lumigator/python/mzai/sdk/lumigator_sdk/jobs.py
  lumigator/python/mzai/sdk/lumigator_sdk/strict_schemas.py
  lumigator/python/mzai/sdk/tests/data/job.json
  lumigator/python/mzai/sdk/tests/unit/test_jobs.py
Labels: sdk, backend, gha, frontend, api, schemas

#530 Resolves issue 507 - UI fixes
  lumigator/frontend/src/App.vue
  lumigator/frontend/src/assets/icons/BinIcon.svg
  lumigator/frontend/src/components/molecules/LDatasetTable.vue
  lumigator/frontend/src/components/molecules/LExperimentDetails.vue
  lumigator/frontend/src/components/molecules/LExperimentForm.vue
  lumigator/frontend/src/components/molecules/LExperimentResults.vue
  lumigator/frontend/src/components/molecules/LExperimentTable.vue
  lumigator/frontend/src/components/organisms/LDatasetDetails.vue
  lumigator/frontend/src/styles/_components.scss
  lumigator/frontend/src/styles/_icons.scss
  lumigator/frontend/src/styles/_variables.scss
Labels: frontend

#545 Fix FE build and push
  .github/workflows/build_images_frontend.yaml
Labels: gha

#547 Adding .env for frontend
  lumigator/frontend/.env
Labels: frontend

#542 UI: Ensure (all) experiments which can have their status updated, get their status updated.
  lumigator/frontend/src/components/molecules/LExperimentDetails.vue
  lumigator/frontend/src/components/molecules/LExperimentTable.vue
  lumigator/frontend/src/services/experiments/experimentService.js
  lumigator/frontend/src/services/health/healthService.js
  lumigator/frontend/src/stores/experiments/store.js
Labels: bug, frontend
