Repository mozilla-ai/lumigator, pull requests merged in 2024-11, with the labels that each got.

#358 Docs: typo fix, and some styling/layout/links
  README.md
  docs/source/conceptual-guides/endpoints.md
  docs/source/operations-guide/kubernetes.md
Labels: documentation

#361 GHA: Update names of workflow jobs
  .github/workflows/build_images_uv.yaml
  .github/workflows/docs.yaml
  .github/workflows/links_checker.yaml
  .github/workflows/sdk_integration_tests.yaml
  .github/workflows/tests_uv.yaml
  .github/workflows/tests_uv_sdk.yaml
Labels: gha

#370 run tests (SDK/Backend) on PR changes and when PRs merge to main
  .github/workflows/tests_uv.yaml
  .github/workflows/tests_uv_sdk.yaml
Labels: gha

#369 Build and Publish docs only if there are no broken links
  .github/workflows/build_and_publish_docs.yaml
  .github/workflows/check_links.yaml
  .github/workflows/test_backend_uv.yaml
  .github/workflows/test_notebook_integration.yaml
  .github/workflows/test_sdk_integration.yaml
  .github/workflows/test_sdk_uv.yaml
Labels: bug, documentation, gha

#371 Fix badge links and names
  .github/workflows/test_sdk_uv.yaml
  README.md
Labels: bug, gha

#367 Docs: Frontend README separation to `/docs`
  docs/source/operations-guide/dev.md
  lumigator/frontend/README.md
Labels: documentation

#365 Add test instructions
  lumigator/python/mzai/backend/README.md
  lumigator/python/mzai/sdk/README.md
Labels: documentation

#378 GitHub actions: allow docker image build to be a required check
  .github/workflows/build_images_uv.yaml
Labels: gha

#398 GitHub actions: update link checker and docs build workflows
  .github/workflows/build_and_publish_docs.yaml
  .github/workflows/check_links.yaml
Labels: gha

#397 GHA: docs - merge link checking and build/publish
  .github/workflows/build_and_publish_docs.yaml
  .github/workflows/check_links.yaml
Labels: gha

#390 Fix/docs/conceptual guides/lumigator endpoints
  docs/source/conceptual-guides/endpoints.md
Labels: documentation

#401 GHA: add additional labels for PR labeler
  .github/labeler.yml
Labels: gha

#392 Copy updates to Datasets page
  lumigator/frontend/src/components/molecules/LDatasetEmpty.vue
  lumigator/frontend/src/components/pages/LDatasets.vue
Labels: frontend

#385 Separating out setting model type into a separate method in the job service
  .pre-commit-config.yaml
  lumigator/python/mzai/backend/backend/api/routes/health.py
  lumigator/python/mzai/backend/backend/services/jobs.py
  lumigator/python/mzai/backend/backend/tests/services/test_job_service.py
  lumigator/python/mzai/sdk/tests/data/job-all.json
Labels: sdk, backend, api

#402 GHA: SDK - run unit tests only when there are changes to SDK
  .github/workflows/test_sdk_uv.yaml
Labels: gha

#376 Frontend Dockerfile
  .env.example
  Makefile
  docker-compose.yaml
  lumigator/frontend/Dockerfile
Labels: frontend

#416 410 notebook and documentation instructions to install schemas and sdk assume pypi
  .github/workflows/test_notebook_integration.yaml
  lumigator/python/mzai/sdk/README.md
  notebooks/requirements.txt
Labels: sdk, gha

#420 Frontend: support single page apps (SPA) when served with nginx
  lumigator/frontend/Dockerfile
  lumigator/frontend/nginx.conf
Labels: frontend, deployment

#419 [backend] Expose suggested models
  docs/source/conf.py
  docs/source/get-started/suggested-models.md
  docs/source/index.rst
  docs/source/reference/schemas.rst
  docs/source/reference/sdk.rst
  lumigator/python/mzai/backend/backend/api/router.py
  lumigator/python/mzai/backend/backend/api/routes/models.py
  lumigator/python/mzai/backend/backend/api/tags.py
  lumigator/python/mzai/backend/backend/models.yaml
  lumigator/python/mzai/backend/backend/tests/api/routes/test_models.py
  lumigator/python/mzai/backend/backend/tests/conftest.py
  lumigator/python/mzai/backend/backend/tests/data/models.json
  lumigator/python/mzai/schemas/lumigator_schemas/models.py
  lumigator/python/mzai/sdk/lumigator_sdk/lumigator.py
  lumigator/python/mzai/sdk/lumigator_sdk/models.py
  lumigator/python/mzai/sdk/tests/conftest.py
  lumigator/python/mzai/sdk/tests/data/models.json
  lumigator/python/mzai/sdk/tests/test_models.py
Labels: documentation, enhancement, sdk, backend, api, schemas

#431 Frontend: ensure .env file is available to container during build
  docker-compose.yaml
  lumigator/frontend/Dockerfile
Labels: bug, frontend

#443 GHA: Prevent merging a PR to `main` when '`do-not-merge`' label is present
  .github/workflows/pull_request_do_not_merge.yaml
Labels: gha

#442 makefile: Run tests without altering state
  .github/workflows/test_backend_uv.yaml
  .github/workflows/test_sdk_integration.yaml
  .github/workflows/test_sdk_uv.yaml
  Makefile
Labels: bug, gha

#447 Fix results caching
  lumigator/frontend/src/components/pages/LExperiments.vue
Labels: frontend

#448 Notification service
  lumigator/frontend/src/App.vue
  lumigator/frontend/src/components/molecules/LExperimentForm.vue
  lumigator/frontend/src/components/pages/LDatasets.vue
  lumigator/frontend/src/services/experiments/experimentService.js
  lumigator/frontend/src/stores/experiments/store.js
Labels: backend, frontend

#418 New action to build the FE
  .github/workflows/build_images_frontend.yaml
Labels: gha

#457 Frontend: GHA tweak to add checkout action before checking for path changes
  .github/workflows/build_images_frontend.yaml
Labels: gha

#451 backend: Refresh job status
  lumigator/python/mzai/backend/backend/services/jobs.py
  lumigator/python/mzai/backend/backend/settings.py
  lumigator/python/mzai/backend/backend/tests/conftest.py
  lumigator/python/mzai/backend/backend/tests/data/ray_version.json
  lumigator/python/mzai/backend/backend/tests/unit/api/routes/test_jobs.py
  lumigator/python/mzai/schemas/lumigator_schemas/jobs.py
Labels: bug, backend, api, schemas

#446 [BUG] Limit auto-reload to relevant directories
  .devcontainer/docker-compose.override.yaml
Labels: bug, local-dev

#459 Linting: uvx ruff check
  lumigator/python/mzai/sdk/lumigator_sdk/experiments.py
  lumigator/python/mzai/sdk/lumigator_sdk/jobs.py
  lumigator/python/mzai/sdk/lumigator_sdk/lm_datasets.py
  lumigator/python/mzai/sdk/tests/integration/test_scenarios.py
Labels: sdk
