Repository mozilla-ai/lumigator, pull requests merged in 2025-02, with the labels that each got.

#789 docs: update troubleshooting.md
  docs/source/get-started/troubleshooting.md
Labels: documentation

#804 Changing pipeline step condition
  .github/workflows/lumigator_pipeline.yaml
Labels: gha

#805 Fixing multiplatform build
  .github/workflows/lumigator_pipeline.yaml
Labels: gha

#807 Adding new page to the index
  docs/source/index.rst
Labels: documentation

#791 chore: setup typescript, unit & e2e testing and vue-devtools
  lumigator/frontend/.gitignore
  lumigator/frontend/e2e/tsconfig.json
  lumigator/frontend/e2e/vue.spec.ts
  lumigator/frontend/env.d.ts
  lumigator/frontend/eslint.config.js
  lumigator/frontend/eslint.config.ts
  lumigator/frontend/index.html
  lumigator/frontend/package-lock.json
  lumigator/frontend/package.json
  lumigator/frontend/playwright.config.ts
  lumigator/frontend/src/App.vue
  lumigator/frontend/src/components/__tests__/HelloWorld.spec.ts
  lumigator/frontend/src/components/molecules/LDatasetEmpty.vue
  lumigator/frontend/src/components/molecules/LDatasetTable.vue
  lumigator/frontend/src/components/molecules/LExperimentDetails.vue
  lumigator/frontend/src/components/molecules/LExperimentForm.vue
  lumigator/frontend/src/components/molecules/LExperimentLogs.vue
  lumigator/frontend/src/components/molecules/LExperimentTable.vue
  lumigator/frontend/src/components/molecules/LExperimentTabs.vue
  lumigator/frontend/src/components/molecules/LExperimentsDrawer.vue
  lumigator/frontend/src/components/molecules/LExperimentsEmpty.vue
  lumigator/frontend/src/components/molecules/LFileUpload.vue
  lumigator/frontend/src/components/molecules/LGenerateGroundTruthPopup.vue
  lumigator/frontend/src/components/molecules/LHealthStatus.vue
  lumigator/frontend/src/components/molecules/LInferenceJobsTable.vue
  lumigator/frontend/src/components/molecules/LJobResults.vue
  lumigator/frontend/src/components/molecules/LJobsTable.vue
  lumigator/frontend/src/components/molecules/LModelCards.vue
  lumigator/frontend/src/components/molecules/LPageHeader.vue
  lumigator/frontend/src/components/organisms/LDatasetDetails.vue
  lumigator/frontend/src/components/organisms/LExperimentResults.vue
  lumigator/frontend/src/components/organisms/LMenu.vue
  lumigator/frontend/src/components/pages/LDatasets.vue
  lumigator/frontend/src/components/pages/LExperiments.vue
  lumigator/frontend/src/composables/SlidingPanel.ts
  lumigator/frontend/src/helpers/index.ts
  lumigator/frontend/src/libs/primevue.config.ts
  lumigator/frontend/src/main.ts
  lumigator/frontend/src/router/index.ts
  lumigator/frontend/src/services/datasets/api.ts
  lumigator/frontend/src/services/datasets/datasetsService.ts
  lumigator/frontend/src/services/experiments/api.ts
  lumigator/frontend/src/services/experiments/experimentService.ts
  lumigator/frontend/src/services/health/api.ts
  lumigator/frontend/src/services/health/healthService.ts
  lumigator/frontend/src/services/http/index.ts
  lumigator/frontend/src/services/models/api.ts
  lumigator/frontend/src/services/models/modelsService.ts
  lumigator/frontend/src/shims-vue.d.ts
  lumigator/frontend/src/stores/datasets/store.ts
  lumigator/frontend/src/stores/experiments/store.ts
  lumigator/frontend/src/stores/health/store.ts
  lumigator/frontend/src/stores/models/store.ts
  lumigator/frontend/tsconfig.app.json
  lumigator/frontend/tsconfig.json
  lumigator/frontend/tsconfig.node.json
  lumigator/frontend/tsconfig.vitest.json
  lumigator/frontend/vite.config.ts
  lumigator/frontend/vitest.config.ts
Labels: frontend

#813 Makefile: match `local-up` profiles and compose files, in `local-down`
  Makefile
Labels: deployment

#768 Mlflow implementation of Tracking Interface
  .devcontainer/docker-compose.override.yaml
  Makefile
  docker-compose.yaml
  lumigator/backend/backend/api/deps.py
  lumigator/backend/backend/api/router.py
  lumigator/backend/backend/api/routes/experiments.py
  lumigator/backend/backend/api/routes/jobs.py
  lumigator/backend/backend/api/routes/workflows.py
  lumigator/backend/backend/main.py
  lumigator/backend/backend/services/exceptions/experiment_exceptions.py
  lumigator/backend/backend/services/exceptions/workflow_exceptions.py
  lumigator/backend/backend/services/experiments.py
  lumigator/backend/backend/services/jobs.py
  lumigator/backend/backend/services/workflows.py
  lumigator/backend/backend/tests/integration/api/routes/test_api_workflows.py
  lumigator/backend/backend/tracking/mlflow.py
  lumigator/backend/backend/tracking/schemas.py
  lumigator/backend/backend/tracking/tracking_interface.py
  lumigator/backend/uv.lock
  lumigator/schemas/lumigator_schemas/experiments.py
  lumigator/schemas/lumigator_schemas/jobs.py
  lumigator/schemas/lumigator_schemas/workflows.py
  lumigator/sdk/lumigator_sdk/jobs.py
  lumigator/sdk/tests/integration/test_scenarios.py
  notebooks/utils.py
  pyproject.toml
  uv.lock
Labels: documentation, dependencies, sdk, backend, gha, api, schemas

#783 Update SDK to use new workflows API
  .vscode/settings.json
  lumigator/backend/backend/tests/integration/api/routes/test_api_workflows.py
  lumigator/sdk/lumigator_sdk/experiments.py
  lumigator/sdk/lumigator_sdk/lumigator.py
  lumigator/sdk/lumigator_sdk/strict_schemas.py
  lumigator/sdk/lumigator_sdk/workflows.py
  lumigator/sdk/tests/integration/test_scenarios.py
Labels: sdk, backend

#814 Bugfix for old experiments endpoint
  lumigator/backend/backend/api/routes/experiments.py
Labels: backend, api

#819 Remove all the completions route code
  docs/source/conceptual-guides/new-endpoint.md
  docs/source/reference/sdk.rst
  lumigator/backend/backend/api/deps.py
  lumigator/backend/backend/api/router.py
  lumigator/backend/backend/api/routes/completions.py
  lumigator/backend/backend/api/tags.py
  lumigator/backend/backend/main.py
  lumigator/backend/backend/services/completions.py
  lumigator/backend/backend/services/exceptions/completion_exceptions.py
  lumigator/backend/backend/settings.py
  lumigator/schemas/lumigator_schemas/completions.py
  lumigator/sdk/lumigator_sdk/completions.py
  lumigator/sdk/lumigator_sdk/lumigator.py
  lumigator/sdk/lumigator_sdk/strict_schemas.py
  lumigator/sdk/tests/conftest.py
  lumigator/sdk/tests/unit/test_completions.py
  notebooks/walkthrough.ipynb
Labels: documentation, sdk, backend, api, schemas

#712 Replace pip cache of session_latest
  .devcontainer/docker-compose.override.yaml
  .github/workflows/lumigator_pipeline.yaml
  docker-compose.yaml
Labels: gha

#762 Redo Bug fix for annotation/inference endpoint fails with long sequences as input
  lumigator/backend/backend/config_templates.py
  lumigator/backend/backend/services/jobs.py
  lumigator/backend/backend/tests/conftest.py
  lumigator/jobs/inference/inference.py
  lumigator/jobs/inference/inference_config.py
  lumigator/jobs/inference/model_clients.py
  lumigator/jobs/inference/schemas.py
  lumigator/sample_data/mock_long_sequences_no_gt.csv
  lumigator/schemas/lumigator_schemas/jobs.py
  lumigator/sdk/tests/conftest.py
  lumigator/sdk/tests/integration/test_scenarios.py
Labels: sdk, backend, schemas

#799 chore: enable typescript strict mode and fix type checking errors
  lumigator/frontend/src/components/molecules/LDatasetTable.vue
  lumigator/frontend/src/components/molecules/LExperimentDetails.vue
  lumigator/frontend/src/components/molecules/LExperimentForm.vue
  lumigator/frontend/src/components/molecules/LExperimentLogs.vue
  lumigator/frontend/src/components/molecules/LExperimentTable.vue
  lumigator/frontend/src/components/molecules/LFileUpload.vue
  lumigator/frontend/src/components/molecules/LInferenceJobsTable.vue
  lumigator/frontend/src/components/molecules/LJobResults.vue
  lumigator/frontend/src/components/molecules/LJobsTable.vue
  lumigator/frontend/src/components/molecules/LModelCards.vue
  lumigator/frontend/src/components/organisms/LDatasetDetails.vue
  lumigator/frontend/src/components/organisms/LExperimentResults.vue
  lumigator/frontend/src/components/pages/LDatasets.vue
  lumigator/frontend/src/components/pages/LExperiments.vue
  lumigator/frontend/src/helpers/index.ts
  lumigator/frontend/src/services/datasets/api.ts
  lumigator/frontend/src/services/datasets/datasetsService.ts
  lumigator/frontend/src/services/experiments/api.ts
  lumigator/frontend/src/services/experiments/experimentService.ts
  lumigator/frontend/src/services/models/api.ts
  lumigator/frontend/src/stores/datasets/store.ts
  lumigator/frontend/src/stores/experiments/store.ts
  lumigator/frontend/src/stores/health/store.ts
  lumigator/frontend/src/types/Dataset.ts
  lumigator/frontend/src/types/Experiment.ts
  lumigator/frontend/tsconfig.app.json
Labels: frontend

#817 refactor: fix sass deprecations and migrate to new syntax
  lumigator/frontend/package-lock.json
  lumigator/frontend/package.json
  lumigator/frontend/src/App.vue
  lumigator/frontend/src/components/molecules/LDatasetEmpty.vue
  lumigator/frontend/src/components/molecules/LDatasetTable.vue
  lumigator/frontend/src/components/molecules/LExperimentDetails.vue
  lumigator/frontend/src/components/molecules/LExperimentForm.vue
  lumigator/frontend/src/components/molecules/LExperimentLogs.vue
  lumigator/frontend/src/components/molecules/LExperimentTable.vue
  lumigator/frontend/src/components/molecules/LExperimentsDrawer.vue
  lumigator/frontend/src/components/molecules/LExperimentsEmpty.vue
  lumigator/frontend/src/components/molecules/LGenerateGroundTruthPopup.vue
  lumigator/frontend/src/components/molecules/LHealthStatus.vue
  lumigator/frontend/src/components/molecules/LInferenceJobsTable.vue
  lumigator/frontend/src/components/molecules/LJobsTable.vue
  lumigator/frontend/src/components/molecules/LModelCards.vue
  lumigator/frontend/src/components/molecules/LPageHeader.vue
  lumigator/frontend/src/components/organisms/LDatasetDetails.vue
  lumigator/frontend/src/components/organisms/LMenu.vue
  lumigator/frontend/src/components/pages/LDatasets.vue
  lumigator/frontend/src/components/pages/LExperiments.vue
  lumigator/frontend/src/styles/_components.scss
  lumigator/frontend/src/styles/_lumigator-theme.scss
  lumigator/frontend/src/styles/_resetcss.scss
  lumigator/frontend/src/styles/_variables.scss
  lumigator/frontend/src/styles/app.scss
  lumigator/frontend/vite.config.ts
Labels: frontend

#576 List jobs per job type
  lumigator/backend/backend/alembic/versions/3be4994d87d5_add_job_type_to_job_table.py
  lumigator/backend/backend/api/routes/jobs.py
  lumigator/backend/backend/records/jobs.py
  lumigator/backend/backend/repositories/base.py
  lumigator/backend/backend/services/jobs.py
  lumigator/backend/backend/tests/integration/api/routes/test_api_workflows.py
  lumigator/backend/backend/tests/unit/repositories/test_jobs.py
  lumigator/schemas/lumigator_schemas/jobs.py
  lumigator/sdk/lumigator_sdk/jobs.py
  lumigator/sdk/tests/integration/test_scenarios.py
Labels: sdk, backend, api, schemas

#792 Support for locally hosted vLLM models
  lumigator/backend/backend/config_templates.py
Labels: backend

#823 docs: add code comments from #786 + hotfix for upload modal not going away
  lumigator/frontend/README.md
  lumigator/frontend/src/components/molecules/LFileUpload.vue
  lumigator/frontend/src/helpers/index.ts
  lumigator/frontend/src/services/experiments/experimentService.ts
  lumigator/frontend/src/stores/experiments/store.ts
Labels: frontend

#824 refactor: refactor ambiguous usage of experiment vs job on the frontend & bubble up errors
  lumigator/frontend/package.json
  lumigator/frontend/src/App.vue
  lumigator/frontend/src/components/molecules/LExperimentDetails.vue
  lumigator/frontend/src/components/molecules/LExperimentForm.vue
  lumigator/frontend/src/components/molecules/LExperimentLogs.vue
  lumigator/frontend/src/components/molecules/LExperimentTable.vue
  lumigator/frontend/src/components/molecules/LHealthStatus.vue
  lumigator/frontend/src/components/molecules/LInferenceJobsTable.vue
  lumigator/frontend/src/components/molecules/LJobsTable.vue
  lumigator/frontend/src/components/molecules/LModelCards.vue
  lumigator/frontend/src/components/organisms/LDatasetDetails.vue
  lumigator/frontend/src/components/organisms/LExperimentResults.vue
  lumigator/frontend/src/components/pages/LDatasets.vue
  lumigator/frontend/src/components/pages/LExperiments.vue
  lumigator/frontend/src/helpers/getAxiosError.ts
  lumigator/frontend/src/helpers/lumigator-axios-instance.ts
  lumigator/frontend/src/libs/primevue.config.ts
  lumigator/frontend/src/main.ts
  lumigator/frontend/src/router/index.ts
  lumigator/frontend/src/services/datasets/api.ts
  lumigator/frontend/src/services/datasets/datasetsService.ts
  lumigator/frontend/src/services/experiments/api.ts
  lumigator/frontend/src/services/experiments/experimentService.ts
  lumigator/frontend/src/services/health/api.ts
  lumigator/frontend/src/services/health/healthService.ts
  lumigator/frontend/src/services/http/index.ts
  lumigator/frontend/src/services/models/api.ts
  lumigator/frontend/src/services/models/modelsService.ts
  lumigator/frontend/src/stores/datasets/datasetsStore.ts
  lumigator/frontend/src/stores/experiments/experimentsStore.ts
  lumigator/frontend/src/stores/health/healthStore.ts
  lumigator/frontend/src/stores/health/store.ts
  lumigator/frontend/src/stores/models/modelsStore.ts
Labels: frontend

#815 Jobs return standardized and flexible output
  lumigator/backend/backend/services/jobs.py
  lumigator/backend/backend/services/workflows.py
  lumigator/backend/backend/tests/integration/api/routes/test_api_workflows.py
  lumigator/backend/backend/tracking/mlflow.py
  lumigator/frontend/src/stores/experiments/experimentsStore.ts
  lumigator/frontend/src/types/Experiment.ts
  lumigator/jobs/evaluator/evaluator/jobs/evaluation/hf_evaluate.py
  lumigator/jobs/evaluator/evaluator/schemas.py
  lumigator/jobs/evaluator_lite/eval_lite.py
  lumigator/jobs/evaluator_lite/eval_metrics.py
  lumigator/jobs/evaluator_lite/schemas.py
  lumigator/jobs/inference/inference.py
  lumigator/jobs/inference/schemas.py
  lumigator/schemas/lumigator_schemas/jobs.py
  lumigator/sdk/tests/integration/test_scenarios.py
  notebooks/utils.py
Labels: sdk, backend, frontend, schemas

#838 Remove completions referenced in docs
  docs/source/reference/schemas.rst
Labels: documentation

#772 Add a make target to use a postgres DB
  .devcontainer/docker-compose-postgres.override.yaml
  .env.template
  .github/workflows/lumigator_pipeline.yaml
  Makefile
  docker-compose.yaml
Labels: backend, gha, frontend

#782 Run eval/inference on any Ollama or Llamafile or vLLM hosted locally
  lumigator/backend/backend/config_templates.py
  lumigator/backend/backend/services/jobs.py
Labels: backend

#839 Upgrade to Pydantic 2.10 and resolve deprecated call warnings
  lumigator/backend/backend/api/routes/jobs.py
  lumigator/backend/backend/services/datasets.py
  lumigator/backend/backend/services/jobs.py
  lumigator/backend/pyproject.toml
  lumigator/backend/uv.lock
  lumigator/jobs/evaluator_lite/requirements.txt
  lumigator/jobs/inference/requirements.txt
  lumigator/jobs/inference/requirements_cpu.txt
  lumigator/schemas/pyproject.toml
  lumigator/schemas/uv.lock
  lumigator/sdk/uv.lock
  pyproject.toml
  uv.lock
Labels: dependencies, sdk, backend, api, schemas

#806 Documenting the usage of local llms - bring your own Llamafile, Ollama or vLLM model
  docs/source/index.rst
  docs/source/operations-guide/kubernetes.md
  docs/source/user-guides/local-models.md
Labels: documentation, enhancement

#836 Installation: Day 1 improvements to settings
  .default.conf
  .env.template
  .gitignore
  Makefile
  docker-compose.gpu.override.yaml
  docker-compose.yaml
  docs/source/get-started/installation.md
  docs/source/operations-guide/configuration.md
  docs/source/operations-guide/configure-S3.md
  docs/source/operations-guide/dev.md
  lumigator/backend/backend/settings.py
  scripts/config_generate_env.sh
Labels: documentation, backend

#866 Show configuration in operational guide menu
  docs/source/index.rst
  docs/source/operations-guide/configuration.md
Labels: documentation

#848 Expose sample datasets link on datasets page
  lumigator/frontend/src/components/datasets/LDatasetEmpty.vue
  lumigator/frontend/src/styles/_typography.scss
Labels: frontend

#870 inference: Support invoking DeepSeek API (#869)
  docker-compose.yaml
  lumigator/backend/backend/services/jobs.py
  lumigator/backend/backend/settings.py
  lumigator/backend/backend/tests/unit/services/test_job_service.py
  lumigator/jobs/inference/inference.py
  lumigator/jobs/inference/model_clients.py
Labels: backend

#887 fix: fix polling for workflow/experiment status
  lumigator/frontend/src/components/datasets/LDatasetEmpty.vue
  lumigator/frontend/src/components/experiments/LExperimentTable.vue
  lumigator/frontend/src/sdk/workflowsService.ts
  lumigator/frontend/src/stores/experimentsStore.ts
Labels: frontend

#884 Refactored dataset saving for inference jobs
  lumigator/backend/backend/services/jobs.py
  lumigator/backend/backend/services/workflows.py
Labels: backend

#892 Updating to v0.1.1-alpha
  docker-compose.yaml
  infra/helm/lumigator/Chart.yaml
  infra/helm/lumigator/README.md
  infra/helm/lumigator/charts/backend/Chart.yaml
  infra/helm/lumigator/charts/backend/README.md
  infra/helm/lumigator/charts/backend/values.yaml
  infra/helm/lumigator/charts/frontend/Chart.yaml
  infra/helm/lumigator/charts/frontend/README.md
  infra/helm/lumigator/charts/frontend/values.yaml
  lumigator/backend/pyproject.toml
  lumigator/schemas/pyproject.toml
  lumigator/sdk/pyproject.toml
Labels: sdk, backend, schemas

#901 Rename Eval_Lite to Evaluator
  .default.conf
  Makefile
  docker-compose.yaml
  docs/source/operations-guide/configuration.md
  lumigator/backend/backend/api/routes/jobs.py
  lumigator/backend/backend/services/jobs.py
  lumigator/backend/backend/services/workflows.py
  lumigator/backend/backend/settings.py
  lumigator/backend/backend/tests/README.md
  lumigator/backend/backend/tests/conftest.py
  lumigator/backend/backend/tests/integration/api/routes/test_api_workflows.py
  lumigator/jobs/evaluator/README.md
  lumigator/jobs/evaluator/eval_metrics.py
  lumigator/jobs/evaluator/evaluator.py
  lumigator/jobs/evaluator/requirements.txt
  lumigator/jobs/evaluator/schemas.py
  lumigator/jobs/evaluator/tests/__init__.py
  lumigator/jobs/evaluator/tests/conftest.py
  lumigator/jobs/evaluator/tests/data/config_full_hf.json
  lumigator/jobs/evaluator/tests/data/config_minimal.json
  lumigator/jobs/evaluator/tests/test_configs.py
  lumigator/jobs/evaluator/utils.py
  lumigator/schemas/lumigator_schemas/jobs.py
  lumigator/sdk/lumigator_sdk/jobs.py
  lumigator/sdk/lumigator_sdk/strict_schemas.py
  lumigator/sdk/tests/conftest.py
  lumigator/sdk/tests/data/job-all-eval.json
  lumigator/sdk/tests/data/job-extra-eval.json
  lumigator/sdk/tests/data/job-minimal-eval.json
  lumigator/sdk/tests/integration/test_scenarios.py
  lumigator/sdk/tests/unit/test_jobs.py
  notebooks/walkthrough.ipynb
Labels: documentation, sdk, backend, api, schemas

#902 move the /experiments/new routes to just /experiments
  docs/source/get-started/quickstart.md
  infra/helm/lumigator/charts/backend/values.yaml
  lumigator/backend/backend/api/router.py
  lumigator/backend/backend/api/routes/experiments.py
  lumigator/backend/backend/api/routes/workflows.py
  lumigator/backend/backend/services/jobs.py
  lumigator/backend/backend/services/workflows.py
  lumigator/backend/backend/settings.py
  lumigator/backend/backend/tests/conftest.py
  lumigator/backend/backend/tests/integration/api/routes/test_api_workflows.py
  lumigator/frontend/src/sdk/experimentsService.ts
  lumigator/jobs/evaluator/README.md
  lumigator/sdk/lumigator_sdk/experiments.py
Labels: documentation, sdk, backend, frontend, api

#903 Remove unused Schema objects
  lumigator/backend/backend/api/routes/experiments.py
  lumigator/jobs/evaluator/eval.py
  lumigator/schemas/lumigator_schemas/experiments.py
  lumigator/sdk/lumigator_sdk/experiments.py
  lumigator/sdk/lumigator_sdk/strict_schemas.py
  lumigator/sdk/tests/integration/test_scenarios.py
Labels: sdk, backend, api, schemas

#910 chore: Update json data for pytest fixtures
  lumigator/backend/backend/tests/data/health_job_metadata.json
  lumigator/backend/backend/tests/data/health_job_metadata_ray.json
  lumigator/sdk/tests/data/job-submit-resp.json
  lumigator/sdk/tests/data/job.json
  lumigator/sdk/tests/data/jobs-submit.json
Labels: sdk, backend

#883 Match examples with current job config, allow external models
  docs/source/user-guides/local-models.md
  lumigator/backend/backend/services/jobs.py
Labels: documentation, backend

#904 Use Protocols to define interfaces over inheritance
  lumigator/backend/backend/api/deps.py
  lumigator/backend/backend/tracking/mlflow.py
  lumigator/backend/backend/tracking/tracking_interface.py
Labels: backend, api

#909 Remove generation related fields from user api
  lumigator/backend/backend/api/routes/datasets.py
Labels: backend, api

#891 refactor: cleanup types
  lumigator/frontend/src/components/datasets/LJobDetails.vue
  lumigator/frontend/src/components/experiments/LExperimentDetails.vue
  lumigator/frontend/src/components/experiments/LExperimentLogs.vue
  lumigator/frontend/src/components/experiments/LExperimentTable.vue
  lumigator/frontend/src/components/experiments/LJobsTable.vue
  lumigator/frontend/src/components/views/LDatasets.vue
  lumigator/frontend/src/components/views/LExperiments.vue
  lumigator/frontend/src/helpers/retrieveEntrypoint.ts
  lumigator/frontend/src/sdk/experimentsService.ts
  lumigator/frontend/src/sdk/jobsService.ts
  lumigator/frontend/src/sdk/workflowsService.ts
  lumigator/frontend/src/stores/datasetsStore.ts
  lumigator/frontend/src/stores/experimentsStore.ts
  lumigator/frontend/src/types/Experiment.ts
  lumigator/frontend/src/types/ExperimentNew.ts
  lumigator/frontend/src/types/Job.ts
  lumigator/frontend/src/types/Metrics.ts
  lumigator/frontend/src/types/Model.ts
  lumigator/frontend/src/types/Workflow.ts
Labels: frontend

#913 fix: fix polling for annotation job logs and stop polling before unmounting the component
  lumigator/frontend/src/components/datasets/LInferenceJobsTable.vue
  lumigator/frontend/src/components/datasets/LJobDetails.vue
  lumigator/frontend/src/components/experiments/LExperimentDetails.vue
  lumigator/frontend/src/components/experiments/LExperimentTable.vue
  lumigator/frontend/src/stores/datasetsStore.ts
  lumigator/frontend/src/stores/experimentsStore.ts
Labels: frontend

#822 docs: update backend readme with installation guide for uv
  lumigator/backend/README.md
Labels: backend

#938 Environment creation/dependency sync
  Makefile
  docs/source/operations-guide/dev.md
  lumigator/backend/README.md
  lumigator/schemas/uv.lock
  scripts/setup_venvs.sh
  uv.lock
Labels: documentation, sdk, backend, schemas

#886 Add support for BLEU score in evalutator job
  lumigator/jobs/evaluator/eval_metrics.py
  lumigator/jobs/evaluator/schemas.py
Labels: backend

#912 Backend: Handle workflow not found from mlflow client
  lumigator/backend/backend/services/workflows.py
  lumigator/backend/backend/tracking/mlflow.py
Labels: backend

#940 [DOCS] Update description on index page, add placeholder files for component concept guides
  docs/source/conceptual-guides/datasets.md
  docs/source/conceptual-guides/experiments.md
  docs/source/conceptual-guides/jobs.md
  docs/source/conceptual-guides/workflows.md
  docs/source/index.rst
Labels: documentation

#942 [DOCS] Update Quickstart guide
  README.md
  docs/source/get-started/development-guide.md
  docs/source/get-started/installation.md
  docs/source/get-started/quickstart.md
  docs/source/get-started/ui-guide.md
  docs/source/index.rst
  docs/source/operations-guide/configuration.md
  docs/source/operations-guide/kubernetes-installation.md
  docs/source/user-guides/inference.md
  docs/source/user-guides/local-models.md
Labels: documentation

#954 Environment creation: improve `make setup`
  Makefile
  scripts/setup_uv.sh
  scripts/setup_venvs.sh
Labels: local-dev

#959 ExperimentsRepository is now unused
  lumigator/backend/backend/repositories/experiments.py
  lumigator/backend/backend/tests/unit/repositories/test_experiments.py
Labels: backend

#962 Update the documentation for using a Local LLM
  docs/source/user-guides/inference.md
  docs/source/user-guides/local-models.md
Labels: documentation

#981 Scripts: refactor makefile + scripts for generating config and setting up uv
  Makefile
  docs/source/operations-guide/configuration.md
  scripts/common.sh
  scripts/config_generate_env.sh
  scripts/setup_uv.sh
Labels: documentation

#980 Settings: Support generation/usage of encryption key
  Makefile
  docker-compose.yaml
  docs/source/operations-guide/configuration.md
  lumigator/backend/backend/settings.py
  scripts/common.sh
  scripts/config_generate_env.sh
  scripts/config_generate_key.sh
Labels: documentation, backend

#961 [DOCS] turns out we had a development guide but it was in operations
  docs/source/get-started/development-guide.md
  docs/source/get-started/quickstart.md
  docs/source/index.rst
  docs/source/operations-guide/local-development.md
Labels: documentation

#888 Initial job interface to the backend
  lumigator/backend/backend/services/jobs.py
  lumigator/backend/backend/tests/integration/api/routes/test_api_workflows.py
  lumigator/backend/backend/tests/unit/services/test_job_service.py
  lumigator/backend/backend/tracking/mlflow.py
  lumigator/jobs/inference/inference.py
  lumigator/jobs/inference/inference_config.py
  lumigator/jobs/inference/schemas.py
Labels: backend

#985 Service: Secret service to handle uploading and encrypting secret settings
  Makefile
  lumigator/backend/backend/alembic/versions/54e483b63d8a_add_secrets_table.py
  lumigator/backend/backend/records/secrets.py
  lumigator/backend/backend/repositories/secrets.py
  lumigator/backend/backend/services/secrets.py
  lumigator/backend/backend/tests/conftest.py
  lumigator/backend/backend/tests/unit/services/test_secret_service.py
  lumigator/schemas/lumigator_schemas/secrets.py
Labels: backend, schemas

#990 [BUG] Sampling parameters were only being applied to LiteLLM, not HFPipeline
  lumigator/backend/backend/services/jobs.py
Labels: backend

#986 UI: Fix - only show ground truth jobs created by the UI under 'Ground Truth Jobs' tab
  lumigator/frontend/src/stores/datasetsStore.ts
Labels: frontend

#997 Fixed a typo in quickstart.md file
  docs/source/get-started/quickstart.md
Labels: documentation

#936 Implement task-specific validation and setting default prompts if none provided
  docs/source/specs/openapi.json
  lumigator/backend/backend/services/jobs.py
  lumigator/backend/backend/settings.py
  lumigator/backend/backend/tests/unit/services/test_job_service.py
  lumigator/backend/backend/tracking/mlflow.py
  lumigator/backend/backend/tracking/tracking_interface.py
  lumigator/jobs/inference/model_clients.py
  lumigator/sample_data/sample_translation_en_de.csv
  lumigator/schemas/lumigator_schemas/experiments.py
  lumigator/schemas/lumigator_schemas/jobs.py
  lumigator/schemas/lumigator_schemas/tasks.py
  lumigator/sdk/tests/data/job-all-inference.json
Labels: documentation, sdk, backend, schemas

#982 [DOCS] Write some descriptions for the apis
  docs/source/api/datasets.rst
  docs/source/api/experiments.rst
  docs/source/api/health.rst
  docs/source/api/jobs.rst
  docs/source/api/models.rst
  docs/source/api/workflows.rst
  docs/source/conceptual-guides/datasets.md
  docs/source/conceptual-guides/experiments.md
  docs/source/conceptual-guides/jobs.md
  docs/source/conceptual-guides/workflows.md
  docs/source/index.rst
Labels: documentation

#998 Make BLEU score available in run outputs by default
  docs/source/specs/openapi.json
  lumigator/backend/backend/services/workflows.py
  lumigator/schemas/lumigator_schemas/jobs.py
Labels: documentation, backend, schemas

#1006 Unify naming to use `max_new_tokens`
  docs/source/specs/openapi.json
  lumigator/backend/backend/services/jobs.py
  lumigator/backend/backend/tests/conftest.py
  lumigator/jobs/inference/inference_config.py
  lumigator/jobs/inference/model_clients.py
  lumigator/jobs/inference/schemas.py
  lumigator/jobs/inference/tests/data/config_full_api.json
  lumigator/schemas/lumigator_schemas/jobs.py
  lumigator/sdk/tests/data/job-all-inference.json
Labels: documentation, sdk, backend, frontend, schemas

#994 834 user guide creating a dataset for lumigator evaluations summarization
  docs/source/api/datasets.rst
  docs/source/conceptual-guides/datasets.md
  docs/source/index.rst
  docs/source/user-guides/prepare-evaluation-dataset.md
Labels: documentation

#1030 doc: fix webui link
  docs/source/user-guides/local-models.md
Labels: documentation

#947 fix: fix viewing results immedietly after a successful workflow run
  lumigator/frontend/src/components/experiments/LExperimentTable.vue
  lumigator/frontend/src/components/views/LExperiments.vue
Labels: frontend

#953 feat: delete workflow/experiment
  lumigator/frontend/package-lock.json
  lumigator/frontend/package.json
  lumigator/frontend/src/App.vue
  lumigator/frontend/src/components/datasets/LDatasetDetails.vue
  lumigator/frontend/src/components/datasets/LDatasetTable.vue
  lumigator/frontend/src/components/experiments/LExperimentDetails.vue
  lumigator/frontend/src/components/experiments/LExperimentTable.vue
  lumigator/frontend/src/components/experiments/LJobsTable.vue
  lumigator/frontend/src/components/layout/LMenu.vue
  lumigator/frontend/src/components/views/LExperiments.vue
  lumigator/frontend/src/sdk/experimentsService.ts
  lumigator/frontend/src/sdk/workflowsService.ts
  lumigator/frontend/src/styles/_components.scss
Labels: frontend

#1015 Smaller models for CI tests
  lumigator/backend/backend/tests/conftest.py
  lumigator/backend/backend/tests/integration/api/routes/test_api_workflows.py
  lumigator/backend/backend/tests/unit/services/test_job_service.py
  lumigator/jobs/inference/model_clients.py
  lumigator/sdk/tests/integration/test_scenarios.py
  notebooks/assets/model_info.csv
  notebooks/walkthrough.ipynb
  scripts/check_openapi_docs.sh
Labels: documentation, sdk, backend, api, schemas

#1051 Link to paper, not openreview
  docs/source/get-started/quickstart.md
Labels: documentation

#1045 [BUG] System prompt unused
  lumigator/backend/backend/services/jobs.py
  lumigator/backend/backend/services/workflows.py
  lumigator/jobs/inference/model_clients.py
  lumigator/jobs/inference/schemas.py
  lumigator/jobs/inference/tests/data/config_full_api.json
Labels: backend

#1057 Modified lumigator nginx size limit to 50mb
  lumigator/frontend/nginx/default.conf.template
Labels: frontend

#937 Add a timeout to the workflow API
  docs/source/specs/openapi.json
  lumigator/backend/backend/alembic/versions/400ea1feca4a_add_stopped_state.py
  lumigator/backend/backend/services/jobs.py
  lumigator/backend/backend/services/workflows.py
  lumigator/backend/backend/tests/conftest.py
  lumigator/backend/backend/tests/integration/api/routes/test_api_workflows.py
  lumigator/schemas/lumigator_schemas/jobs.py
  lumigator/schemas/lumigator_schemas/workflows.py
Labels: documentation, backend, schemas

#971 Create experiment and run workflow with task as translation
  docs/source/specs/openapi.json
  lumigator/backend/backend/services/experiments.py
  lumigator/backend/backend/services/jobs.py
  lumigator/backend/backend/services/workflows.py
  lumigator/backend/backend/tests/conftest.py
  lumigator/backend/backend/tests/integration/api/routes/test_api_workflows.py
  lumigator/backend/backend/tests/unit/services/test_experiment_service.py
  lumigator/backend/backend/tests/unit/services/test_job_service.py
  lumigator/backend/backend/tracking/mlflow.py
  lumigator/backend/backend/tracking/tracking_interface.py
  lumigator/jobs/inference/model_clients.py
  lumigator/sample_data/sample_translation_en_de.csv
  lumigator/schemas/lumigator_schemas/experiments.py
  lumigator/schemas/lumigator_schemas/jobs.py
  lumigator/schemas/lumigator_schemas/tasks.py
  lumigator/schemas/lumigator_schemas/workflows.py
  lumigator/sdk/tests/integration/test_scenarios.py
Labels: documentation, sdk, backend, schemas

#1054 Update Mlflow Version to 2.20.03
  docker-compose.yaml
  lumigator/backend/pyproject.toml
  lumigator/backend/uv.lock
  pyproject.toml
  uv.lock
Labels: dependencies, backend

#996 Settings: get decrypted secret value for internal use
  lumigator/backend/backend/services/exceptions/secret_exceptions.py
  lumigator/backend/backend/services/secrets.py
Labels: backend

#939 Make a clean interface for jobs
  lumigator/backend/backend/services/job_interface.py
  lumigator/backend/backend/services/jobs.py
  lumigator/backend/backend/settings.py
  lumigator/backend/backend/tests/conftest.py
  lumigator/backend/backend/tests/integration/api/routes/test_api_workflows.py
  lumigator/backend/backend/tests/unit/services/test_job_service.py
  lumigator/jobs/evaluator/definition.py
  lumigator/jobs/inference/definition.py
Labels: backend

#995 862 add geval metric to eval job
  docker-compose.yaml
  docs/source/specs/openapi.json
  lumigator/jobs/evaluator/eval.py
  lumigator/jobs/evaluator/eval_metrics.py
  lumigator/jobs/evaluator/evaluator.py
  lumigator/jobs/evaluator/g_eval_prompts.json
  lumigator/jobs/evaluator/requirements.txt
  lumigator/jobs/evaluator/schemas.py
  lumigator/schemas/lumigator_schemas/jobs.py
Labels: documentation, schemas
