Repository mozilla-ai/lumigator, pull requests merged in 2025-03, with the labels that each got.

#896 API: Allow redaction on entrypoint config for a Job
  docs/source/specs/openapi.json
  lumigator/backend/backend/api/deps.py
  lumigator/backend/backend/api/routes/jobs.py
  lumigator/backend/backend/settings.py
  lumigator/backend/uv.lock
  lumigator/frontend/src/components/datasets/LInferenceJobsTable.vue
  lumigator/frontend/src/components/datasets/LJobDetails.vue
  lumigator/frontend/src/components/views/LDatasets.vue
  lumigator/frontend/src/helpers/retrieveEntrypoint.ts
  lumigator/frontend/src/stores/datasetsStore.ts
  lumigator/frontend/src/types/Job.ts
  lumigator/schemas/lumigator_schemas/jobs.py
  lumigator/schemas/lumigator_schemas/redactable_base_model.py
  lumigator/schemas/lumigator_schemas/redactor.py
  lumigator/schemas/lumigator_schemas/tests/unit/test_redactor.py
  lumigator/schemas/lumigator_schemas/transforms/job_submission_response_transform.py
Labels: documentation, backend, frontend, api, schemas

#1001 test: Implement e2e test for uploading a sample dataset
  lumigator/frontend/e2e/datasets.spec.ts
  lumigator/frontend/e2e/vue.spec.ts
  lumigator/frontend/package.json
  lumigator/frontend/playwright.config.ts
  lumigator/frontend/src/components/datasets/LDatasetEmpty.vue
  lumigator/frontend/src/components/views/LExperiments.vue
  lumigator/frontend/src/sdk/datasetsService.ts
  lumigator/frontend/src/stores/datasetsStore.ts
Labels: frontend

#1078 fix: pause autoscrolling of logs when manually scrolling up
  lumigator/frontend/src/components/experiments/LExperimentLogs.vue
  lumigator/frontend/src/components/views/LDatasets.vue
  lumigator/frontend/src/components/views/LExperiments.vue
Labels: frontend

#1055 feat: implement view dataset + generic table
  lumigator/frontend/package-lock.json
  lumigator/frontend/package.json
  lumigator/frontend/src/components/common/DatasetViewer.vue
  lumigator/frontend/src/components/datasets/LDatasetDetails.vue
  lumigator/frontend/src/components/datasets/LDatasetTable.vue
  lumigator/frontend/src/components/experiments/LExperimentTable.vue
  lumigator/frontend/src/components/experiments/LExperimentsDrawer.vue
  lumigator/frontend/src/components/experiments/LJobsTable.vue
  lumigator/frontend/src/components/views/LDatasets.vue
  lumigator/frontend/src/papaparse.d.ts
  lumigator/frontend/src/styles/_mixins.scss
  lumigator/frontend/src/styles/app.scss
Labels: frontend

#825 Reduce ray job cold time
  .default.conf
  .github/workflows/lumigator_pipeline.yaml
  Makefile
  README.md
  cache/Dockerfile.model-inference
  cache/download_models.py
  docker-compose.model-cache.override.yaml
  docker-compose.yaml
Labels: gha, docker

#1099 API: Allow listing of configured secret (names and descriptions)
  docs/source/specs/openapi.json
  lumigator/backend/backend/api/routes/secrets.py
  lumigator/backend/backend/repositories/secrets.py
  lumigator/backend/backend/services/secrets.py
  lumigator/backend/backend/tests/unit/api/routes/test_secret.py
  lumigator/backend/backend/tests/unit/services/test_secret_service.py
  lumigator/schemas/lumigator_schemas/jobs.py
  lumigator/schemas/lumigator_schemas/secrets.py
Labels: documentation, backend, api, schemas

#1092 GetExperimentResponse to have task_definition as field
  docs/source/specs/openapi.json
  lumigator/backend/backend/tracking/mlflow.py
  lumigator/schemas/lumigator_schemas/experiments.py
  lumigator/sdk/tests/data/experiment-post-response.json
Labels: documentation, sdk, backend, schemas

#1108 Settings: Allow deletion of a user created secret
  docs/source/specs/openapi.json
  lumigator/backend/backend/api/routes/secrets.py
  lumigator/backend/backend/repositories/secrets.py
  lumigator/backend/backend/services/secrets.py
  lumigator/backend/backend/tests/unit/services/test_secret_service.py
Labels: documentation, backend, api

#1098 WorkflowResponse to have system_prompt as field
  docs/source/specs/openapi.json
  lumigator/backend/backend/services/workflows.py
  lumigator/backend/backend/tests/unit/services/test_job_service.py
  lumigator/backend/backend/tests/unit/services/test_workflow_service.py
  lumigator/backend/backend/tracking/mlflow.py
  lumigator/backend/backend/tracking/tracking_interface.py
  lumigator/jobs/inference/definition.py
  lumigator/schemas/lumigator_schemas/tasks.py
  lumigator/schemas/lumigator_schemas/workflows.py
Labels: documentation, backend, schemas

#1100 [BUG] Not catching a missing tracking_uri
  lumigator/backend/backend/settings.py
Labels: backend

#1102 Organize sample_data by task
  docs/source/get-started/quickstart.md
  docs/source/get-started/ui-guide.md
  docs/source/user-guides/inference.md
  docs/source/user-guides/local-models.md
  docs/source/user-guides/prepare-evaluation-dataset.md
  lumigator/backend/backend/tests/conftest.py
  lumigator/backend/backend/tests/unit/services/test_dataset_service.py
  lumigator/frontend/e2e/datasets.spec.ts
  lumigator/sample_data/summarization/dialogsum_exc.csv
  lumigator/sample_data/summarization/dialogsum_mini_all_gt_is_whitespace.csv
  lumigator/sample_data/summarization/dialogsum_mini_empty_gt.csv
  lumigator/sample_data/summarization/dialogsum_mini_no_gt.csv
  lumigator/sample_data/summarization/dialogsum_mini_some_missing_some_whitespace_gt.csv
  lumigator/sample_data/summarization/mock_long_sequences_no_gt.csv
  lumigator/sample_data/translation/sample_translation_en_de.csv
  lumigator/sdk/tests/conftest.py
Labels: documentation, sdk, backend, frontend

#1103 Update to v0.1.2-alpha
  README.md
  infra/helm/lumigator/Chart.yaml
  infra/helm/lumigator/README.md
  infra/helm/lumigator/charts/backend/Chart.yaml
  infra/helm/lumigator/charts/backend/README.md
  infra/helm/lumigator/charts/frontend/Chart.yaml
  infra/helm/lumigator/charts/frontend/README.md
  lumigator/backend/pyproject.toml
  lumigator/schemas/pyproject.toml
  lumigator/sdk/pyproject.toml
Labels: sdk, backend, schemas

#1115 Settings: Fix redaction bug in parsing model name/path
  lumigator/schemas/lumigator_schemas/tests/unit/test_job_submission_response_transform.py
  lumigator/schemas/lumigator_schemas/transforms/job_submission_response_transform.py
  lumigator/schemas/pyproject.toml
Labels: schemas

#1095 Update docs to use task_definition instead of task
  docs/source/get-started/quickstart.md
  docs/source/user-guides/inference.md
Labels: documentation

#1119 Fix generated dataset filenames
  lumigator/backend/backend/services/jobs.py
  lumigator/backend/backend/services/workflows.py
Labels: backend

#1090 Use key from the secrets table in the env var list in Ray jobs
  docs/source/specs/openapi.json
  lumigator/backend/backend/api/deps.py
  lumigator/backend/backend/api/routes/secrets.py
  lumigator/backend/backend/services/exceptions/secret_exceptions.py
  lumigator/backend/backend/services/jobs.py
  lumigator/backend/backend/services/secrets.py
  lumigator/backend/backend/tests/conftest.py
  lumigator/backend/backend/tests/integration/api/routes/test_api_workflows.py
  lumigator/backend/backend/tests/unit/api/routes/test_jobs.py
  lumigator/backend/backend/tests/unit/services/test_job_service.py
  lumigator/jobs/inference/requirements.txt
  lumigator/jobs/inference/requirements_cpu.txt
  lumigator/jobs/inference/schemas.py
  lumigator/schemas/lumigator_schemas/jobs.py
Labels: documentation, backend, api, schemas

#1091 Evaluating different flavors of DeepSeek R1.
  Makefile
  docker-compose.yaml
  docs/source/specs/openapi.json
  lumigator/backend/backend/api/routes/workflows.py
  lumigator/backend/backend/services/workflows.py
  lumigator/jobs/evaluator/eval_metrics.py
  lumigator/jobs/evaluator/schemas.py
  lumigator/jobs/evaluator/tests/test_eval_metrics.py
  lumigator/jobs/inference/definition.py
  lumigator/jobs/inference/inference.py
  lumigator/jobs/inference/model_clients.py
  lumigator/jobs/inference/schemas.py
  lumigator/jobs/inference/tests/test_model_clients.py
  lumigator/jobs/inference/utils.py
  lumigator/schemas/lumigator_schemas/jobs.py
  lumigator/schemas/lumigator_schemas/workflows.py
  lumigator/sdk/lumigator_sdk/workflows.py
  lumigator/sdk/tests/data/job-all-inference.json
  lumigator/sdk/tests/unit/test_workflows.py
  notebooks/deepseek-r1-evaluation/.gitignore
  notebooks/deepseek-r1-evaluation/deepseek.ipynb
  notebooks/deepseek-r1-evaluation/utils.py
  pyproject.toml
  ruff.toml
  uv.lock
Labels: documentation, dependencies, sdk, backend, api, schemas

#1035 feat: support translation experiments from the ui
  lumigator/frontend/e2e/datasets.spec.ts
  lumigator/frontend/src/components/experiments/LExperimentDetails.vue
  lumigator/frontend/src/components/experiments/LExperimentForm.vue
  lumigator/frontend/src/components/experiments/LExperimentResults.vue
  lumigator/frontend/src/components/experiments/LExperimentTable.vue
  lumigator/frontend/src/components/experiments/LExperimentsEmpty.vue
  lumigator/frontend/src/components/experiments/LJobsTable.vue
  lumigator/frontend/src/components/experiments/LModelCards.vue
  lumigator/frontend/src/components/experiments/WorkflowResults.vue
  lumigator/frontend/src/components/views/LExperiments.vue
  lumigator/frontend/src/helpers/getExperimentResults.ts
  lumigator/frontend/src/helpers/transformJobResults.ts
  lumigator/frontend/src/sdk/experimentsService.ts
  lumigator/frontend/src/types/Experiment.ts
  lumigator/frontend/src/types/Metrics.ts
  lumigator/frontend/src/types/Workflow.ts
Labels: frontend

#1113 Show translation models in models endpoint
  docs/source/api/models.rst
  docs/source/get-started/suggested-models.md
  docs/source/specs/openapi.json
  docs/source/user-guides/inference.md
  lumigator/backend/backend/api/routes/models.py
  lumigator/backend/backend/models.yaml
  lumigator/backend/backend/tests/conftest.py
  lumigator/backend/backend/tests/unit/api/routes/test_models.py
  lumigator/frontend/src/sdk/modelsService.ts
  lumigator/sdk/lumigator_sdk/models.py
  lumigator/sdk/tests/unit/test_models.py
Labels: documentation, sdk, backend, frontend, api

#1139 Remove accidental log statement
  lumigator/backend/backend/services/workflows.py
Labels: backend

#1134 Refactor HuggingFaceModelClient to modular components
  lumigator/jobs/inference/inference.py
  lumigator/jobs/inference/model_clients.py
  lumigator/jobs/inference/model_clients/base_client.py
  lumigator/jobs/inference/model_clients/external_api_clients.py
  lumigator/jobs/inference/model_clients/huggingface_clients.py
  lumigator/jobs/inference/tests/test_external_api_clients.py
  lumigator/jobs/inference/tests/test_huggingface_clients.py
Labels: sdk, backend

#1128 Settings: Supply secret key name via workflows and jobs
  docs/source/specs/openapi.json
  lumigator/backend/backend/services/jobs.py
  lumigator/backend/backend/services/workflows.py
  lumigator/backend/backend/tests/unit/services/test_job_service.py
  lumigator/jobs/evaluator/schemas.py
  lumigator/jobs/inference/schemas.py
  lumigator/schemas/lumigator_schemas/jobs.py
  lumigator/schemas/lumigator_schemas/workflows.py
Labels: documentation, backend, schemas

#1141 feat: filter models by selected usecase on create experiment
  lumigator/frontend/src/components/experiments/LExperimentForm.vue
  lumigator/frontend/src/components/experiments/LExperimentTable.vue
  lumigator/frontend/src/components/experiments/LExperimentsEmpty.vue
  lumigator/frontend/src/components/experiments/LModelCards.vue
  lumigator/frontend/src/components/views/LExperiments.vue
  lumigator/frontend/src/sdk/modelsService.ts
  lumigator/frontend/src/stores/modelsStore.ts
  lumigator/frontend/src/types/Model.ts
Labels: frontend

#1151 Update DatasetViewer.vue
  lumigator/frontend/src/components/common/DatasetViewer.vue
Labels: frontend

#1144 Only run integration tests on lumigator code changes
  .github/workflows/lumigator_pipeline.yaml
Labels: gha

#1094 Small fixes for jobs - reinstated
  lumigator/frontend/src/components/datasets/LJobDetails.vue
  lumigator/frontend/src/types/Job.ts
Labels: frontend

#1112 Generate openapi offline
  Makefile
  docs/source/specs/openapi.json
  lumigator/backend/backend/openapi_spec.py
  scripts/check_openapi_docs.sh
  scripts/update_openapi_docs.sh
Labels: documentation, backend

#1159 GitHub GPU runners integration tests
  .github/workflows/gpu_integration_tests.yaml
  Makefile
  docker-compose.gpu.override.yaml
  lumigator/jobs/inference/definition.py
Labels: gha

#1162 Testing: Update `Makefile` (backend) tests to allow a custom `user.conf` to be provided
  .github/workflows/lumigator_pipeline.yaml
  Makefile
  lumigator/backend/backend/api/deps.py
  lumigator/backend/backend/tests/conftest.py
  lumigator/backend/pyproject.toml
  scripts/common.sh
  scripts/config_generate_env.sh
  scripts/config_generate_key.sh
  scripts/set_env_vars.sh
  scripts/setup_uv.sh
Labels: backend, gha, api

#1138 Move logging back into workflows service
  lumigator/backend/backend/alembic/versions/da3992fd274e_change_type_from_enum_to_varchar.py
  lumigator/backend/backend/services/workflows.py
  lumigator/backend/backend/tests/integration/api/routes/test_api_workflows.py
  lumigator/backend/backend/tracking/mlflow.py
  lumigator/backend/backend/tracking/tracking_interface.py
Labels: backend

#1157 Config: Revert `DATABASE_URL` name to `SQLALCHEMY_DATABASE_URL`
  .default.conf
  Makefile
  docker-compose.yaml
  docs/source/operations-guide/configuration.md
Labels: documentation

#1176 UI: Pass secret key names for each workflow based on the provider it is targetting
  lumigator/backend/backend/services/workflows.py
  lumigator/frontend/src/components/views/Settings.vue
  lumigator/frontend/src/sdk/experimentsService.ts
  lumigator/frontend/src/types/Workflow.ts
Labels: backend, frontend

#1177 UI: fix to use `api_key` instead of `api-key`
  lumigator/frontend/src/sdk/experimentsService.ts
Labels: frontend

#941 ci: setup github actions for testing, code formatting & linting the frontend
  .github/workflows/lumigator_pipeline.yaml
  lumigator/frontend/e2e/vue.spec.ts
  lumigator/frontend/package.json
  lumigator/frontend/playwright.config.ts
  lumigator/frontend/src/components/common/__tests__/HelloWorld.spec.ts
  lumigator/frontend/src/components/views/SettingsPage.vue
  lumigator/frontend/src/router/index.ts
Labels: gha, frontend

#1179 Settings: Add support for secrets in the SDK
  docs/source/conf.py
  docs/source/reference/sdk.rst
  lumigator/sdk/lumigator_sdk/client.py
  lumigator/sdk/lumigator_sdk/lumigator.py
  lumigator/sdk/lumigator_sdk/settings.py
  lumigator/sdk/lumigator_sdk/settings_secrets.py
  lumigator/sdk/lumigator_sdk/strict_schemas.py
  lumigator/sdk/tests/integration/test_scenarios_settings_secrets.py
  lumigator/sdk/tests/unit/test_settings_secrets.py
Labels: documentation, sdk

#1147 Support for HF seq2seq multilingual models for translation: mt5-based model architectures with prefix
  lumigator/backend/backend/services/jobs.py
  lumigator/jobs/inference/dataset.py
  lumigator/jobs/inference/definition.py
  lumigator/jobs/inference/inference_config.py
  lumigator/jobs/inference/model_clients/huggingface_clients.py
  lumigator/jobs/inference/model_clients/mixins/huggingface_model_mixin.py
  lumigator/jobs/inference/model_clients/mixins/huggingface_seq2seq_pipeline_mixin.py
  lumigator/jobs/inference/model_clients/translation_models.yaml
  lumigator/jobs/inference/model_clients/translation_utils.py
  lumigator/jobs/inference/requirements.txt
  lumigator/jobs/inference/requirements_cpu.txt
  lumigator/jobs/inference/schemas.py
  lumigator/jobs/inference/tests/data/config_full_hf.json
  lumigator/jobs/inference/tests/test_huggingface_clients.py
  lumigator/jobs/inference/tests/test_huggingface_model_mixin.py
  lumigator/jobs/inference/tests/test_translation_utils.py
Labels: backend

#1180 Pre-commit: update configs, pipelines, makefile.. and include changes
  .github/workflows/lumigator_pipeline.yaml
  .pre-commit-config.yaml
  Makefile
  infra/helm/lumigator/charts/backend/Chart.yaml
  lumigator/backend/backend/openapi_spec.py
  lumigator/frontend/eslint.config.ts
  lumigator/sdk/lumigator_sdk/lm_datasets.py
  lumigator/sdk/tests/unit/test_datasets.py
Labels: sdk, backend, gha, frontend

#1187 Disable the inference model cache container for notebook integration …
  .github/workflows/lumigator_pipeline.yaml
Labels: gha

#1185 Services: exceptions missing call to base class init
  lumigator/backend/backend/services/exceptions/base_exceptions.py
Labels: backend

#1186 Services: improve async error handling in run inference and eval
  lumigator/backend/backend/services/jobs.py
  lumigator/backend/backend/services/workflows.py
Labels: backend

#1132 feat: toggle columns in DatasetViewer table
  lumigator/frontend/src/components/common/DatasetViewer.vue
  lumigator/frontend/src/components/views/LDatasets.vue
Labels: frontend

#1140 feat: support recursively rendering nested tables within the TableView component
  lumigator/frontend/src/components/common/DatasetViewer.vue
  lumigator/frontend/src/components/common/TableView.vue
Labels: frontend

#1200 Changing to cronjob for GPU tests
  .github/workflows/gpu_integration_tests.yaml
Labels: gha

#1189 feat(models): replaced deprecated mistral-7B with ministral -8B
  docs/source/get-started/suggested-models.md
  lumigator/backend/backend/models.yaml
  lumigator/backend/backend/tests/integration/api/routes/test_api_workflows.py
  lumigator/backend/backend/tests/unit/api/routes/test_jobs.py
  lumigator/backend/backend/tests/unit/services/test_job_service.py
  notebooks/walkthrough.ipynb
Labels: documentation, backend

#1205 GHA: Disable inference model cache for docs
  .github/workflows/build_and_publish_docs.yaml
Labels: gha

#1203 Scripts: update env vars parsing in scripts (including for testing)
  .github/workflows/gpu_integration_tests.yaml
  .github/workflows/lumigator_pipeline.yaml
  Makefile
  cache/download_models.py
  scripts/config_generate_env.sh
  scripts/set_env_vars.sh
Labels: gha

#1172 refactor: migrate results component to use the new table
  lumigator/frontend/src/components/common/DatasetViewer.vue
  lumigator/frontend/src/components/common/TableView.vue
  lumigator/frontend/src/components/experiments/LExperimentResults.vue
  lumigator/frontend/src/components/experiments/WorkflowResults.vue
  lumigator/frontend/src/components/views/LExperiments.vue
  lumigator/frontend/src/helpers/getExperimentResults.ts
  lumigator/frontend/src/helpers/transformJobResults.ts
  lumigator/frontend/src/types/Experiment.ts
Labels: frontend

#1206 Slack notification when gpu tests fails
  .github/workflows/gpu_integration_tests.yaml
Labels: gha

#1208 Add HF multilingual translation bigscience/mt0- and facebook/m2m100 to the UI
  docs/source/specs/openapi.json
  lumigator/backend/backend/models.yaml
  lumigator/frontend/src/types/Model.ts
  lumigator/sample_data/translation/sample_translation_en_es.csv
  lumigator/schemas/lumigator_schemas/models.py
Labels: documentation, backend, frontend, schemas

#1214 Fix typo in models.yaml
  lumigator/backend/backend/models.yaml
Labels: backend

#1173 Improve Ray startup time
  .github/workflows/lumigator_pipeline.yaml
  cache/download_models.py
  docker-compose.yaml
Labels: gha

#1204 S3: explicit client configuration
  lumigator/backend/backend/api/deps.py
  lumigator/backend/backend/tests/conftest.py
Labels: backend, api

#1211 fix: wait for ray to start before accepting server requests
  docker-compose.yaml
Labels: deployment, docker

#1216 Docs: updates for new API key settings
  README.md
  docs/assets/ui_guide_steps/settings-enter-secret.png
  docs/assets/ui_guide_steps/settings-page.png
  docs/assets/ui_guide_steps/settings-secret-delete-confirm.png
  docs/assets/ui_guide_steps/settings-secret-delete-done.png
  docs/assets/ui_guide_steps/settings-secret-delete-highlight.png
  docs/assets/ui_guide_steps/settings-secret-saved.png
  docs/source/get-started/quickstart.md
  docs/source/get-started/troubleshooting.md
  docs/source/get-started/ui-guide.md
  docs/source/operations-guide/configuration.md
  docs/source/operations-guide/kubernetes-installation.md
  docs/source/operations-guide/local-development.md
  docs/source/user-guides/inference.md
  infra/helm/lumigator/charts/backend/README.md
  lumigator/backend/README.md
Labels: documentation, backend

#1218 Disable cronjob
  .github/workflows/gpu_integration_tests.yaml
Labels: gha

#1222 Release v0.1.3-alpha
  infra/helm/inference-service/Chart.yaml
  infra/helm/lumigator/Chart.yaml
  infra/helm/lumigator/README.md
  infra/helm/lumigator/charts/backend/Chart.yaml
  infra/helm/lumigator/charts/backend/README.md
  infra/helm/lumigator/charts/frontend/Chart.yaml
  infra/helm/lumigator/charts/frontend/README.md
  lumigator/backend/pyproject.toml
  lumigator/schemas/pyproject.toml
  lumigator/sdk/pyproject.toml
Labels: sdk, backend, schemas

#1223 Docs fix internal links to configuration.md
  docs/source/api/index.rst
  docs/source/get-started/quickstart.md
  docs/source/get-started/troubleshooting.md
  docs/source/get-started/ui-guide.md
  docs/source/operations-guide/configuration.md
  docs/source/operations-guide/kubernetes-installation.md
  docs/source/operations-guide/local-development.md
  docs/source/user-guides/inference.md
  lumigator/backend/uv.lock
  uv.lock
Labels: documentation, backend

#1221 UI: Update incorrect information for adding API keys in experiments
  lumigator/frontend/src/components/experiments/LModelCards.vue
Labels: frontend

#1227 Add privacy policy
  docs/source/index.rst
  docs/source/legal/privacy-notice.md
Labels: documentation

#1231 doc: architecture diagram with secrets
  docs/assets/lumigator-backend.jpg
  docs/assets/lumigator-backend.png
  docs/source/conceptual-guides/architecture.md
Labels: documentation

#1236 GHA: Adjust names for failed logs
  .github/workflows/lumigator_pipeline.yaml
Labels: gha

#1190 Switch datasetformat to non native enum
  lumigator/backend/backend/alembic/versions/76bbe19c945c_move_to_non_native_enums_for_.py
Labels: backend

#1232 Add default api key if none is provided
  lumigator/backend/backend/models.yaml
  lumigator/backend/backend/tests/integration/api/routes/test_api_workflows.py
  lumigator/jobs/inference/model_clients/external_api_clients.py
Labels: backend

#1225 Update docs to reflect translation use case
  README.md
  docs/source/get-started/quickstart.md
  docs/source/get-started/suggested-models.md
  docs/source/index.rst
  docs/source/user-guides/prepare-evaluation-dataset.md
  docs/source/user-guides/translation-eval.md
  infra/helm/lumigator/charts/backend/README.md
Labels: documentation, backend

#1248 Removed cache container and update Readme accordingly
  .default.conf
  .github/workflows/build_and_publish_docs.yaml
  .github/workflows/lumigator_pipeline.yaml
  Makefile
  README.md
  cache/Dockerfile.model-inference
  cache/download_models.py
  docker-compose.model-cache.override.yaml
  scripts/config_detect_model_cache.sh
Labels: gha, local-dev

#1254 Job Logs: Fix bug where logs were not updated after first check
  lumigator/backend/backend/services/jobs.py
Labels: backend

#1259 Job service: minor fixes/updates
  lumigator/backend/backend/services/jobs.py
Labels: backend

#1238 Obtain workflow results download link
  docs/source/specs/openapi.json
  lumigator/backend/backend/api/routes/workflows.py
  lumigator/backend/backend/services/exceptions/workflow_exceptions.py
  lumigator/backend/backend/services/workflows.py
  lumigator/backend/backend/tests/unit/api/routes/test_jobs.py
  lumigator/backend/uv.lock
  lumigator/frontend/src/components/views/LExperiments.vue
  lumigator/frontend/src/sdk/workflowsService.ts
  lumigator/schemas/lumigator_schemas/jobs.py
  lumigator/sdk/tests/data/job-resp.json
  lumigator/sdk/tests/data/job.json
  lumigator/sdk/tests/data/jobs.json
Labels: documentation, sdk, backend, frontend, api, schemas

#1264 Update GHA log file names to make them more searchable by run ID
  .github/workflows/gpu_integration_tests.yaml
  .github/workflows/lumigator_pipeline.yaml
Labels: gha

#1269 Schema: Add schema util that allows merging of Pydantic schema models
  lumigator/schemas/lumigator_schemas/tests/conftest.py
  lumigator/schemas/lumigator_schemas/tests/data/workflow_results.json
  lumigator/schemas/lumigator_schemas/tests/data/workflow_results_overlay_all.json
  lumigator/schemas/lumigator_schemas/tests/data/workflow_results_overlay_artifacts_missing.json
  lumigator/schemas/lumigator_schemas/tests/data/workflow_results_overlay_artifacts_same.json
  lumigator/schemas/lumigator_schemas/tests/unit/test_utils_model_operations.py
  lumigator/schemas/lumigator_schemas/utils/__init__.py
  lumigator/schemas/lumigator_schemas/utils/model_operations.py
Labels: schemas

#1250 1230 integrate deepevals ollama support into evaluator
  .gitignore
  docs/source/specs/openapi.json
  lumigator/jobs/evaluator/definition.py
  lumigator/jobs/evaluator/evaluator.py
  lumigator/jobs/evaluator/requirements.txt
  lumigator/jobs/evaluator/schemas.py
  lumigator/jobs/evaluator/tests/test_configs.py
  lumigator/jobs/inference/model_clients/external_api_clients.py
  lumigator/schemas/lumigator_schemas/jobs.py
Labels: documentation, schemas

#1273 Revert "Schema: Add schema util that allows merging of Pydantic schema models"
  lumigator/schemas/lumigator_schemas/tests/conftest.py
  lumigator/schemas/lumigator_schemas/tests/data/workflow_results.json
  lumigator/schemas/lumigator_schemas/tests/data/workflow_results_overlay_all.json
  lumigator/schemas/lumigator_schemas/tests/data/workflow_results_overlay_artifacts_missing.json
  lumigator/schemas/lumigator_schemas/tests/data/workflow_results_overlay_artifacts_same.json
  lumigator/schemas/lumigator_schemas/tests/unit/test_utils_model_operations.py
  lumigator/schemas/lumigator_schemas/utils/__init__.py
  lumigator/schemas/lumigator_schemas/utils/model_operations.py
Labels: schemas

#1272 Backend: Don't log Ray runtime env (may contain API keys)
  lumigator/backend/backend/ray_submit/submission.py
  lumigator/backend/backend/services/jobs.py
Labels: backend

#1249 Support for Opus-MT HF translation models
  docs/source/get-started/suggested-models.md
  lumigator/backend/backend/models.yaml
  lumigator/jobs/inference/model_clients/huggingface_clients.py
  lumigator/jobs/inference/model_clients/mixins/language_code_mixin.py
  lumigator/jobs/inference/model_clients/translation_utils.py
  lumigator/jobs/inference/tests/huggingface_clients/test_translation_clients.py
  lumigator/jobs/inference/tests/test_language_code_mixin.py
  lumigator/jobs/inference/tests/test_translation_utils.py
Labels: documentation, backend

#1280 fix: dont render metrics columns if they're null/undefined
  lumigator/frontend/src/helpers/getExperimentResults.ts
  lumigator/frontend/src/types/Metrics.ts
Labels: frontend

#1284 `pre-commit`: fixes/updates
  .github/workflows/lumigator_pipeline.yaml
  .pre-commit-config.yaml
  Makefile
  pyproject.toml
  uv.lock
Labels: dependencies, gha

#1288 Fix async issues after moving to S3FileSystem from boto3 client
  lumigator/backend/backend/api/routes/experiments.py
  lumigator/backend/backend/api/routes/workflows.py
  lumigator/backend/backend/services/datasets.py
  lumigator/backend/backend/services/experiments.py
  lumigator/backend/backend/services/workflows.py
  lumigator/backend/backend/tests/conftest.py
  lumigator/backend/backend/tracking/mlflow.py
  lumigator/backend/backend/tracking/tracking_interface.py
  lumigator/backend/pyproject.toml
  lumigator/backend/uv.lock
  pyproject.toml
  uv.lock
Labels: dependencies, backend, api

#1286 Tracking client: extract S3 related tasks to functions
  lumigator/backend/backend/services/workflows.py
  lumigator/backend/backend/tests/integration/api/routes/test_api_workflows.py
  lumigator/backend/backend/tracking/mlflow.py
  lumigator/jobs/evaluator/definition.py
  lumigator/jobs/evaluator/evaluator.py
  lumigator/jobs/inference/inference.py
Labels: backend

#1285 Tracking client: update MLFlow run status when we update the status tag
  lumigator/backend/backend/services/workflows.py
  lumigator/backend/backend/tests/unit/tracking/test_mlflow.py
  lumigator/backend/backend/tracking/mlflow.py
  lumigator/backend/backend/tracking/tracking_interface.py
  lumigator/backend/pyproject.toml
Labels: backend

#1260 Update schemas, align job results S3 paths, refactor inference metrics calc
  lumigator/backend/backend/services/jobs.py
  lumigator/backend/backend/services/workflows.py
  lumigator/backend/backend/tests/integration/api/routes/test_api_workflows.py
  lumigator/backend/backend/tests/unit/services/test_job_service.py
  lumigator/backend/backend/tracking/mlflow.py
  lumigator/jobs/evaluator/evaluator.py
  lumigator/jobs/evaluator/tests/test_eval_metrics.py
  lumigator/jobs/inference/inference.py
  lumigator/jobs/inference/inference_config.py
  lumigator/jobs/inference/schemas.py
  lumigator/jobs/inference/tests/test_inference.py
  lumigator/schemas/lumigator_schemas/jobs.py
  lumigator/sdk/tests/integration/test_scenarios.py
Labels: sdk, backend, schemas
