Repository mozilla-ai/lumigator, pull requests merged in 2025-04, with the labels that each got.

#1300 Update docs to fix broken links
  docs/source/user-guides/local-models.md
Labels: documentation

#1301 Mlflow: refactor compile metrics method and add tests
  lumigator/backend/backend/tests/conftest.py
  lumigator/backend/backend/tests/unit/tracking/test_mlflow.py
  lumigator/backend/backend/tracking/mlflow.py
Labels: backend

#1302 Refactor workflow service and mlflow tracking client
  lumigator/backend/backend/api/routes/workflows.py
  lumigator/backend/backend/services/exceptions/tracking_exceptions.py
  lumigator/backend/backend/services/exceptions/workflow_exceptions.py
  lumigator/backend/backend/services/workflows.py
  lumigator/backend/backend/tests/conftest.py
  lumigator/backend/backend/tests/unit/tracking/test_mlflow.py
  lumigator/backend/backend/tracking/mlflow.py
Labels: backend, api

#1215 Refactor: Mlflow - `get_workflow`, `create_experiment`
  lumigator/backend/backend/api/routes/experiments.py
  lumigator/backend/backend/services/exceptions/base_exceptions.py
  lumigator/backend/backend/services/exceptions/experiment_exceptions.py
  lumigator/backend/backend/services/exceptions/workflow_exceptions.py
  lumigator/backend/backend/services/experiments.py
  lumigator/backend/backend/tests/conftest.py
  lumigator/backend/backend/tests/data/mlflow_runs_search_single.json
  lumigator/backend/backend/tests/unit/tracking/test_mlflow.py
  lumigator/backend/backend/tracking/mlflow.py
  lumigator/schemas/lumigator_schemas/jobs.py
Labels: sdk, backend, api, schemas

#1306 Integration tests: Assert that the workflow that completed, succeeded
  lumigator/backend/backend/tests/conftest.py
  lumigator/backend/backend/tests/integration/api/routes/test_api_workflows.py
Labels: backend

#1309 Fix: `delete_workflow`
  lumigator/backend/backend/api/routes/workflows.py
  lumigator/backend/backend/services/workflows.py
Labels: backend, api

#1121 Notebook to Demo Translation Usecase via SDK
  notebooks/translation_demo_wmt24pp.ipynb
Labels: documentation

#1311 Compute only task-specific metrics by default
  docs/source/specs/openapi.json
  lumigator/backend/backend/services/workflows.py
  lumigator/schemas/lumigator_schemas/jobs.py
  lumigator/schemas/lumigator_schemas/tasks.py
  lumigator/schemas/lumigator_schemas/tests/unit/test_tasks.py
Labels: documentation, backend, schemas

#1316 Workflow: Fix `_handle_workflow_failure` async issue
  lumigator/backend/backend/services/workflows.py
Labels: backend

#1317 Ray: raise API auth errors from inference jobs
  lumigator/backend/backend/services/jobs.py
  lumigator/backend/backend/tests/conftest.py
  lumigator/backend/backend/tests/integration/api/routes/test_api_workflows.py
  lumigator/jobs/inference/model_clients/external_api_clients.py
  lumigator/sdk/tests/integration/test_scenarios.py
Labels: sdk, backend

#1319 Update backend test code
  lumigator/backend/backend/tests/conftest.py
  lumigator/backend/backend/tests/integration/api/routes/test_api_workflows.py
Labels: backend

#1320 Display COMET translation metric on UI
  lumigator/frontend/src/helpers/getExperimentResults.ts
  lumigator/frontend/src/types/Metrics.ts
  lumigator/frontend/src/types/Workflow.ts
Labels: frontend

#1321 1312 enable llm as judge for translation
  Makefile
  docs/source/index.rst
  docs/source/specs/openapi.json
  docs/source/user-guides/llm-as-judge.md
  lumigator/backend/backend/services/workflows.py
  lumigator/jobs/evaluator/eval_metrics.py
  lumigator/jobs/evaluator/evaluator.py
  lumigator/jobs/evaluator/g_eval_prompts.json
  lumigator/jobs/evaluator/schemas.py
  lumigator/jobs/evaluator/tests/test_eval_metrics.py
  lumigator/schemas/lumigator_schemas/jobs.py
  lumigator/schemas/lumigator_schemas/workflows.py
Labels: documentation, backend, schemas

#1326 feat: implement experiments ui new design
  lumigator/frontend/eslint.config.ts
  lumigator/frontend/package-lock.json
  lumigator/frontend/package.json
  lumigator/frontend/src/App.vue
  lumigator/frontend/src/components/common/DatasetViewer.vue
  lumigator/frontend/src/components/common/TableView.vue
  lumigator/frontend/src/components/datasets/LDatasetDetails.vue
  lumigator/frontend/src/components/datasets/LDatasetEmpty.vue
  lumigator/frontend/src/components/datasets/LDatasetTable.vue
  lumigator/frontend/src/components/datasets/LJobDetails.vue
  lumigator/frontend/src/components/experiment-details/AddWorkflowsTab.vue
  lumigator/frontend/src/components/experiment-details/ConfigureWorkflowModal.vue
  lumigator/frontend/src/components/experiment-details/ExperimentDetailsTab.vue
  lumigator/frontend/src/components/experiment-details/ModelCard.vue
  lumigator/frontend/src/components/experiment-details/WorkflowsTab.vue
  lumigator/frontend/src/components/experiments/CreateExperimentModal.vue
  lumigator/frontend/src/components/experiments/LExperimentDetails.vue
  lumigator/frontend/src/components/experiments/LExperimentForm.vue
  lumigator/frontend/src/components/experiments/LExperimentLogs.vue
  lumigator/frontend/src/components/experiments/LExperimentResults.vue
  lumigator/frontend/src/components/experiments/LExperimentTable.vue
  lumigator/frontend/src/components/experiments/LExperimentTabs.vue
  lumigator/frontend/src/components/experiments/LExperimentsEmpty.vue
  lumigator/frontend/src/components/experiments/LJobsTable.vue
  lumigator/frontend/src/components/experiments/LModelCards.vue
  lumigator/frontend/src/components/layout/LMenu.vue
  lumigator/frontend/src/components/layout/LPageHeader.vue
  lumigator/frontend/src/components/views/ExperimentDetailsPage.vue
  lumigator/frontend/src/components/views/LDatasets.vue
  lumigator/frontend/src/components/views/LExperiments.vue
  lumigator/frontend/src/helpers/FeatureFlags.ts
  lumigator/frontend/src/helpers/retrieveStatus.ts
  lumigator/frontend/src/main.ts
  lumigator/frontend/src/router/index.ts
  lumigator/frontend/src/sdk/datasetsService.ts
  lumigator/frontend/src/sdk/experimentsService.ts
  lumigator/frontend/src/stores/datasetsStore.ts
  lumigator/frontend/src/stores/experimentsStore.ts
  lumigator/frontend/src/stores/modelsStore.ts
  lumigator/frontend/src/styles/_components.scss
  lumigator/frontend/src/styles/_icons.scss
  lumigator/frontend/src/styles/_lumigator-theme.scss
  lumigator/frontend/src/styles/_mixins.scss
  lumigator/frontend/src/styles/_variables.scss
  lumigator/frontend/src/types/Model.ts
  lumigator/frontend/src/types/Workflow.ts
Labels: frontend
