Repository mozilla-ai/lumigator, pull requests merged in 2025-01, with the labels that each got.

#519 337 annotation/ground truth generation uses new inference job
  Makefile
  docs/source/get-started/suggested-models.md
  lumigator/python/mzai/backend/backend/api/routes/jobs.py
  lumigator/python/mzai/backend/backend/tests/integration/api/routes/test_api_workflows.py
  lumigator/python/mzai/schemas/lumigator_schemas/jobs.py
Labels: documentation, backend, api, schemas

#453 Add fakes for the S3 service and use the standalone localstack
  .env.example
  .github/workflows/test_backend_uv.yaml
  Makefile
  lumigator/python/mzai/backend/README.md
  lumigator/python/mzai/backend/backend/config_templates.py
  lumigator/python/mzai/backend/backend/services/datasets.py
  lumigator/python/mzai/backend/backend/services/jobs.py
  lumigator/python/mzai/backend/backend/tests/README.md
  lumigator/python/mzai/backend/backend/tests/conftest.py
  lumigator/python/mzai/backend/backend/tests/fakes/fake_ray_client.py
  lumigator/python/mzai/backend/backend/tests/fakes/fake_s3.py
  lumigator/python/mzai/backend/backend/tests/integration/api/routes/test_api_workflows.py
  lumigator/python/mzai/backend/backend/tests/unit/api/routes/test_datasets.py
  lumigator/python/mzai/backend/backend/tests/unit/api/routes/test_jobs.py
  lumigator/python/mzai/backend/backend/tests/unit/services/test_dataset_service.py
  lumigator/python/mzai/jobs/inference/requirements_cpu.txt
  lumigator/python/mzai/sdk/lumigator_sdk/client.py
  lumigator/python/mzai/sdk/lumigator_sdk/experiments.py
  lumigator/python/mzai/sdk/tests/integration/test_scenarios.py
Labels: documentation, dependencies, sdk, backend, gha, api, schemas

#578 SDK: Adjust behaviour for vendor caching
  lumigator/python/mzai/sdk/lumigator_sdk/completions.py
  lumigator/python/mzai/sdk/tests/integration/test_scenarios.py
  lumigator/python/mzai/sdk/tests/unit/test_completions.py
Labels: sdk

#594 Docker: Clean up docker compose
  docker-compose.yaml
Labels: docker

#595 Remove global include from Makefile
  Makefile
Labels: local-dev

#596 Issue 556 retrieve models
  lumigator/frontend/src/components/molecules/LExperimentForm.vue
  lumigator/frontend/src/components/molecules/LModelCards.vue
  lumigator/frontend/src/components/pages/LExperiments.vue
  lumigator/frontend/src/services/models/api.js
  lumigator/frontend/src/services/models/modelsService.js
  lumigator/frontend/src/stores/models/store.js
Labels: frontend

#603 API:include URL to website for models
  lumigator/python/mzai/backend/backend/models.yaml
  lumigator/python/mzai/schemas/lumigator_schemas/models.py
  lumigator/python/mzai/sdk/tests/data/models.json
Labels: sdk, backend, api, schemas

#203 Add postgres helm chart as dependency
  docs/source/operations-guide/kubernetes.md
  lumigator/infra/mzai/helm/lumigator/Chart.lock
  lumigator/infra/mzai/helm/lumigator/Chart.yaml
  lumigator/infra/mzai/helm/lumigator/charts/postgresql-15.5.20.tgz
  lumigator/infra/mzai/helm/lumigator/templates/deployment.yaml
  lumigator/infra/mzai/helm/lumigator/values.yaml
  lumigator/python/mzai/backend/backend/settings.py
Labels: documentation, backend

#606 Restoring models' website urls
  lumigator/frontend/src/components/molecules/LModelCards.vue
Labels: frontend

#607 Fix: API website URL for model update
  lumigator/python/mzai/backend/backend/models.yaml
Labels: documentation, backend, api

#587 SDK healthcheck retry configuration
  lumigator/python/mzai/sdk/lumigator_sdk/client.py
  lumigator/python/mzai/sdk/lumigator_sdk/lumigator.py
  lumigator/python/mzai/sdk/tests/conftest.py
Labels: sdk

#598 API: Documentation improvement for dataset upload
  lumigator/python/mzai/backend/backend/api/routes/datasets.py
  lumigator/python/mzai/backend/backend/settings.py
Labels: documentation, backend, api

#615 Push frontend to dockerhub in more cases
  .github/workflows/build_images_frontend.yaml
Labels: gha

#617 Update typos in API docs
  lumigator/python/mzai/backend/backend/api/routes/datasets.py
  lumigator/python/mzai/backend/backend/services/experiments.py
Labels: backend, api

#561 docs: Clarify suggested models scope and usage
  docs/source/get-started/suggested-models.md
Labels: documentation

#612 [FEATURE] Support for Debugpy
  .devcontainer/docker-compose.override.yaml
  .gitignore
  .vscode/launch.json
  Dockerfile
  lumigator/python/mzai/backend/pyproject.toml
Labels: backend

#616 568 wire eval lite
  docker-compose.yaml
  lumigator/python/mzai/backend/backend/api/routes/jobs.py
  lumigator/python/mzai/backend/backend/config_templates.py
  lumigator/python/mzai/backend/backend/services/experiments.py
  lumigator/python/mzai/backend/backend/services/jobs.py
  lumigator/python/mzai/backend/backend/settings.py
  lumigator/python/mzai/jobs/evaluator_lite/eval_config.py
  lumigator/python/mzai/jobs/evaluator_lite/eval_lite.py
  lumigator/python/mzai/jobs/evaluator_lite/requirements.txt
  lumigator/python/mzai/schemas/lumigator_schemas/jobs.py
Labels: backend, api, schemas

#623 Fix runner FE builds
  .github/workflows/build_images_frontend.yaml
Labels: gha

#625 UI: Fix missing `model.path` and `max_samples` parsed from job entrypoint config
  lumigator/frontend/src/components/molecules/LExperimentDetails.vue
  lumigator/frontend/src/helpers/index.js
Labels: backend, frontend

#491 Replace localstack with minio
  .env.example
  docker-compose.yaml
  lumigator/python/mzai/backend/README.md
  lumigator/python/mzai/backend/backend/tests/conftest.py
Labels: backend

#610 Use nginx to send Lumigator requests from the FE to any backend deployment
  docker-compose.yaml
  lumigator/frontend/Dockerfile
  lumigator/frontend/nginx/default.conf.template
Labels: frontend

#627 Frontend: Change to relative backend
  .env.example
  .github/workflows/lumigator_pipeline.yaml
  docs/source/operations-guide/dev.md
  lumigator/frontend/Dockerfile
  lumigator/frontend/src/services/http/index.js
Labels: documentation, gha, frontend

#640 UI: Fix - Change the way we decide if a property is present from entrypoint config
  lumigator/frontend/src/helpers/index.js
Labels: bug, frontend

#641 Bug fix: Assigned correct template to gpt-4o, removed gpt-3.5
  lumigator/python/mzai/backend/backend/config_templates.py
Labels: backend

#633 559 add inference job tests to makefile
  .devcontainer/docker-compose.override.yaml
  .github/workflows/lumigator_pipeline.yaml
  Makefile
  lumigator/python/mzai/backend/uv.lock
  lumigator/python/mzai/jobs/evaluator_lite/tests/test_configs.py
  lumigator/python/mzai/jobs/inference/tests/data/config_full_hf.json
  pyproject.toml
  uv.lock
Labels: dependencies, backend, gha

#630 Use output-field field in inference requests
  lumigator/python/mzai/backend/backend/config_templates.py
  lumigator/python/mzai/backend/backend/services/jobs.py
  lumigator/python/mzai/backend/backend/tests/conftest.py
  lumigator/python/mzai/backend/backend/tests/integration/api/routes/test_api_workflows.py
  lumigator/python/mzai/sample_data/dialogsum_mini_empty_gt.csv
Labels: backend

#637 Fix architecture bug
  .github/workflows/lumigator_pipeline.yaml
  docker-compose.yaml
Labels: gha

#649 Docs: Update alembic guide to include `uv`
  docs/source/operations-guide/alembic.md
Labels: documentation

#652 Build always BE
  .github/workflows/lumigator_pipeline.yaml
Labels: gha

#650 Change from EXPERIMENT to JOB to match schema
  lumigator/python/mzai/backend/backend/alembic/versions/e75fa022c781_create_db.py
Labels: backend

#654 Docs: Update docs to include instructions to stop Lumigator
  docs/source/get-started/quickstart.md
Labels: documentation

#624 fix: crash if requested output field for inference doesn't exist in dataset
  lumigator/python/mzai/backend/backend/tests/conftest.py
  lumigator/python/mzai/backend/backend/tests/integration/api/routes/test_api_workflows.py
  lumigator/python/mzai/jobs/inference/inference.py
  lumigator/python/mzai/sample_data/dialogsum_mini_no_gt.csv
Labels: bug, backend

#647 Docs: Mention Lumigator UI usage in README + minor improvements
  README.md
  docs/source/get-started/suggested-models.md
Labels: documentation

#642 Multiple models experiment - Issue#554
  lumigator/frontend/src/App.vue
  lumigator/frontend/src/components/molecules/LExperimentDetails.vue
  lumigator/frontend/src/components/molecules/LExperimentForm.vue
  lumigator/frontend/src/components/molecules/LExperimentTable.vue
  lumigator/frontend/src/components/molecules/LJobsTable.vue
  lumigator/frontend/src/components/molecules/LModelCards.vue
  lumigator/frontend/src/components/pages/LExperiments.vue
  lumigator/frontend/src/helpers/index.js
  lumigator/frontend/src/services/experiments/api.js
  lumigator/frontend/src/services/experiments/experimentService.js
  lumigator/frontend/src/stores/experiments/store.js
  lumigator/frontend/src/styles/_components.scss
  lumigator/frontend/src/styles/_lumigator-theme.scss
Labels: frontend

#671 clear selected job upon dismissing details
  lumigator/frontend/src/components/pages/LExperiments.vue
Labels: frontend

#673 remove models that don't support generic summaries.
  docs/source/get-started/suggested-models.md
  lumigator/python/mzai/backend/backend/config_templates.py
  lumigator/python/mzai/backend/backend/models.yaml
  lumigator/python/mzai/backend/backend/tests/data/models.json
  lumigator/python/mzai/sdk/tests/data/models.json
  notebooks/assets/model_info.csv
  notebooks/walkthrough.ipynb
Labels: documentation, sdk, backend

#669 Removed references to minio, added frontend container
  README.md
  docker-compose.yaml
  docs/source/get-started/installation.md
  docs/source/get-started/quickstart.md
  docs/source/index.rst
  docs/source/operations-guide/dev.md
  docs/source/user-guides/inference.md
  lumigator/python/mzai/backend/README.md
  lumigator/python/mzai/backend/backend/tests/conftest.py
Labels: documentation, backend

#614 Minor consolidation of Environment Variables
  .env.template
  Makefile
  docs/source/user-guides/inference.md
  lumigator/python/mzai/backend/backend/settings.py
Labels: documentation, backend, frontend

#679 Fix bad links in readme
  README.md
  docs/source/get-started/installation.md
Labels: documentation

#604 Add experiment record handling to experiment service
  Makefile
  lumigator/python/mzai/backend/backend/api/deps.py
  lumigator/python/mzai/backend/backend/api/routes/experiments.py
  lumigator/python/mzai/backend/backend/api/routes/experiments_new.py
  lumigator/python/mzai/backend/backend/api/routes/jobs.py
  lumigator/python/mzai/backend/backend/config_templates.py
  lumigator/python/mzai/backend/backend/repositories/jobs.py
  lumigator/python/mzai/backend/backend/services/experiments.py
  lumigator/python/mzai/backend/backend/services/jobs.py
  lumigator/python/mzai/backend/backend/tests/conftest.py
  lumigator/python/mzai/backend/backend/tests/integration/api/routes/test_api_workflows.py
  lumigator/python/mzai/jobs/evaluator_lite/eval_lite.py
  lumigator/python/mzai/jobs/inference/inference.py
  lumigator/python/mzai/jobs/inference/inference_config.py
  lumigator/python/mzai/schemas/lumigator_schemas/jobs.py
Labels: backend, api, schemas

#657 API/Storage: Recreate a CSV from the uploaded dataset (CSV) and allow filtering for downloads
  lumigator/python/mzai/backend/backend/api/routes/datasets.py
  lumigator/python/mzai/backend/backend/services/datasets.py
  lumigator/python/mzai/backend/backend/tests/conftest.py
  lumigator/python/mzai/backend/backend/tests/fakes/fake_s3.py
  lumigator/python/mzai/backend/backend/tests/unit/api/routes/test_datasets.py
  lumigator/python/mzai/backend/backend/tests/unit/services/test_dataset_service.py
  lumigator/python/mzai/sdk/lumigator_sdk/lm_datasets.py
  lumigator/python/mzai/sdk/tests/conftest.py
  lumigator/python/mzai/sdk/tests/integration/test_scenarios.py
Labels: sdk, backend, api

#677 Use Job name instead of a reference to the address in memory.
  lumigator/python/mzai/backend/backend/services/jobs.py
Labels: backend

#681 Issue 480 experiment results
  lumigator/frontend/src/components/molecules/LExperimentDetails.vue
  lumigator/frontend/src/components/molecules/LJobResults.vue
  lumigator/frontend/src/components/organisms/LExperimentResults.vue
  lumigator/frontend/src/components/pages/LExperiments.vue
  lumigator/frontend/src/stores/experiments/store.js
Labels: frontend

#685 UI: Enable dataset download icon and download CSV by default
  lumigator/frontend/src/components/organisms/LDatasetDetails.vue
  lumigator/frontend/src/components/pages/LDatasets.vue
  lumigator/frontend/src/services/datasets/api.js
  lumigator/frontend/src/services/datasets/datasetsService.js
  lumigator/frontend/src/stores/datasets/store.js
Labels: frontend

#659 658 GPU support + related env vars on Linux + getting started instructions on Readme
  .env.template
  Makefile
  README.md
  docker-compose.gpu.override.yaml
  docker-compose.yaml
Labels: documentation, deployment, local-dev

#689 API: Models - add flag to indicate if a model requires an API key
  lumigator/python/mzai/backend/backend/models.yaml
  lumigator/python/mzai/backend/backend/tests/data/models.json
  lumigator/python/mzai/schemas/lumigator_schemas/models.py
  lumigator/python/mzai/sdk/tests/data/models.json
Labels: sdk, backend, schemas

#691 UI/models/separate api hf
  lumigator/frontend/src/components/molecules/LModelCards.vue
Labels: sdk, backend, frontend, schemas

#695 add pending to jobs
  lumigator/python/mzai/backend/backend/alembic/versions/e75fa022c781_create_db.py
Labels: backend

#700 API/UI: Make model data more flexible for future use
  lumigator/frontend/src/components/molecules/LModelCards.vue
  lumigator/python/mzai/backend/backend/models.yaml
  lumigator/python/mzai/backend/backend/tests/data/models.json
  lumigator/python/mzai/schemas/lumigator_schemas/models.py
  lumigator/python/mzai/sdk/tests/data/models.json
Labels: sdk, backend, frontend, schemas

#707 doc: missing nvidia-container-toolkit instructions
  README.md
Labels: documentation

#676 fix: empty ground-truth column should mean no ground-truth
  lumigator/python/mzai/backend/backend/services/datasets.py
  lumigator/python/mzai/backend/backend/tests/conftest.py
  lumigator/python/mzai/backend/backend/tests/unit/api/routes/test_datasets.py
  lumigator/python/mzai/backend/backend/tests/unit/services/test_dataset_service.py
  lumigator/python/mzai/sample_data/dialogsum_mini_all_gt_is_whitespace.csv
  lumigator/python/mzai/sample_data/dialogsum_mini_some_missing_some_whitespace_gt.csv
Labels: backend

#708 Issue 509 dataset validation
  lumigator/frontend/src/App.vue
  lumigator/frontend/src/components/molecules/LModelCards.vue
  lumigator/frontend/src/components/pages/LDatasets.vue
  lumigator/frontend/src/services/datasets/datasetsService.js
  lumigator/frontend/src/stores/datasets/store.js
Labels: frontend

#684 Docs: Add a page in docs with step-by-step instructions on how to use Lumigator UI
  docs/assets/ui_guide_steps/datasets_page.png
  docs/assets/ui_guide_steps/datasets_table.png
  docs/assets/ui_guide_steps/experiment_fields.png
  docs/assets/ui_guide_steps/experiments_completed.png
  docs/assets/ui_guide_steps/experiments_page.png
  docs/assets/ui_guide_steps/experiments_running.png
  docs/assets/ui_guide_steps/model_select.png
  docs/assets/ui_guide_steps/results_overall_comparison.png
  docs/assets/ui_guide_steps/results_row_by_row.png
  docs/source/conceptual-guides/new-endpoint.md
  docs/source/conf.py
  docs/source/get-started/quickstart.md
  docs/source/get-started/suggested-models.md
  docs/source/get-started/ui-guide.md
  docs/source/index.rst
Labels: documentation

#692 Use Lumigator Schemas to validate input and output of jobs (inference & eval_lite)
  .vscode/settings.json
  Dockerfile
  Makefile
  docker-compose.yaml
  lumigator/python/mzai/backend/backend/services/jobs.py
  lumigator/python/mzai/backend/backend/tests/integration/api/routes/test_api_workflows.py
  lumigator/python/mzai/jobs/evaluator_lite/eval_config.py
  lumigator/python/mzai/jobs/evaluator_lite/eval_lite.py
  lumigator/python/mzai/jobs/evaluator_lite/schemas.py
  lumigator/python/mzai/jobs/evaluator_lite/tests/test_configs.py
  lumigator/python/mzai/jobs/inference/inference.py
  lumigator/python/mzai/jobs/inference/inference_config.py
  lumigator/python/mzai/jobs/inference/schemas.py
Labels: backend, schemas

#711 Remove nonworking models, add documentation
  docs/source/user-guides/inference.md
  lumigator/python/mzai/backend/backend/models.yaml
  lumigator/python/mzai/backend/backend/tests/data/models.json
  lumigator/python/mzai/schemas/lumigator_schemas/models.py
  lumigator/python/mzai/sdk/tests/data/models.json
Labels: documentation, sdk, backend, schemas

#682 Add annotations to the SDK
  Makefile
  lumigator/python/mzai/schemas/lumigator_schemas/jobs.py
  lumigator/python/mzai/sdk/lumigator_sdk/jobs.py
  lumigator/python/mzai/sdk/lumigator_sdk/strict_schemas.py
  lumigator/python/mzai/sdk/tests/conftest.py
  lumigator/python/mzai/sdk/tests/integration/test_scenarios.py
Labels: sdk, schemas

#699 Factor out job and experiment status check loops
  Makefile
  lumigator/python/mzai/backend/backend/tests/conftest.py
  lumigator/python/mzai/backend/backend/tests/integration/api/routes/test_api_workflows.py
Labels: backend

#697 Remove view option
  lumigator/frontend/src/components/molecules/LDatasetTable.vue
  lumigator/frontend/src/components/organisms/LDatasetDetails.vue
  lumigator/frontend/src/components/pages/LDatasets.vue
Labels: frontend

#713 Created troubleshooting section, added disk space error
  docs/source/get-started/troubleshooting.md
  docs/source/index.rst
Labels: documentation

#720 Added API keys / tokens troubleshooting section + fixes
  README.md
  docs/source/get-started/installation.md
  docs/source/get-started/suggested-models.md
  docs/source/get-started/troubleshooting.md
  docs/source/operations-guide/dev.md
  docs/source/user-guides/inference.md
  lumigator/python/mzai/backend/README.md
Labels: documentation, backend

#721 Ray env var empty string fix
  lumigator/python/mzai/backend/backend/settings.py
Labels: backend

#719 Backend: Decouple datasets service from HTTP presentation layer
  lumigator/python/mzai/backend/backend/api/routes/datasets.py
  lumigator/python/mzai/backend/backend/main.py
  lumigator/python/mzai/backend/backend/services/datasets.py
  lumigator/python/mzai/backend/backend/services/exceptions/__init__.py
  lumigator/python/mzai/backend/backend/services/exceptions/base_exceptions.py
  lumigator/python/mzai/backend/backend/services/exceptions/dataset_exceptions.py
  lumigator/python/mzai/backend/backend/tests/unit/api/routes/test_datasets.py
Labels: backend, api

#715 Debugpy comes to Unit Tests!
  .env.template
  .vscode/launch.json
  Makefile
  docs/source/operations-guide/dev.md
  lumigator/python/mzai/sdk/pyproject.toml
  lumigator/python/mzai/sdk/uv.lock
  pyproject.toml
  uv.lock
Labels: documentation, dependencies, sdk, backend

#727 724 update backend documentation
  docs/source/get-started/installation.md
  docs/source/operations-guide/dev.md
  docs/source/user-guides/inference.md
  lumigator/python/mzai/backend/README.md
Labels: documentation, backend

#722 UI - Generate ground truth
  lumigator/frontend/src/components/molecules/LDatasetTable.vue
  lumigator/frontend/src/components/molecules/LExperimentDetails.vue
  lumigator/frontend/src/components/molecules/LExperimentsEmpty.vue
  lumigator/frontend/src/components/molecules/LGenerateGroundTruthPopup.vue
  lumigator/frontend/src/components/molecules/LInferenceJobsTable.vue
  lumigator/frontend/src/components/organisms/LDatasetDetails.vue
  lumigator/frontend/src/components/pages/LDatasets.vue
  lumigator/frontend/src/components/pages/LExperiments.vue
  lumigator/frontend/src/services/experiments/api.js
  lumigator/frontend/src/services/experiments/experimentService.js
  lumigator/frontend/src/stores/experiments/store.js
Labels: frontend

#672 Add ray dependency to helm chart
  docs/source/operations-guide/kubernetes.md
  lumigator/infra/mzai/helm/lumigator/README.md
  lumigator/infra/mzai/helm/lumigator/charts/backend/Chart.lock
  lumigator/infra/mzai/helm/lumigator/charts/backend/Chart.yaml
  lumigator/infra/mzai/helm/lumigator/charts/backend/README.md
  lumigator/infra/mzai/helm/lumigator/charts/backend/charts/kuberay-apiserver-1.2.2.tgz
  lumigator/infra/mzai/helm/lumigator/charts/backend/charts/kuberay-operator-1.2.2.tgz
  lumigator/infra/mzai/helm/lumigator/charts/backend/charts/ray-cluster-1.2.2.tgz
  lumigator/infra/mzai/helm/lumigator/charts/backend/values.yaml
  lumigator/infra/mzai/helm/lumigator/charts/frontend/values.yaml
  lumigator/infra/mzai/helm/lumigator/values.yaml
Labels: documentation, deployment

#739 Backend: Decouple completions service from HTTP presentation layer
  lumigator/python/mzai/backend/backend/api/routes/completions.py
  lumigator/python/mzai/backend/backend/main.py
  lumigator/python/mzai/backend/backend/services/completions.py
  lumigator/python/mzai/backend/backend/services/exceptions/completion_exceptions.py
Labels: backend, api

#743 fix(doc): RAY_WORKER_GPU*
  README.md
Labels: documentation

#745 Updating documentation
  docs/source/operations-guide/configure-S3.md
  docs/source/operations-guide/kubernetes.md
  lumigator/README.md
  lumigator/infra/mzai/helm/lumigator/Chart.yaml
  lumigator/infra/mzai/helm/lumigator/README.md
  lumigator/infra/mzai/helm/lumigator/charts/backend/Chart.yaml
  lumigator/infra/mzai/helm/lumigator/charts/backend/README.md
  lumigator/infra/mzai/helm/lumigator/charts/backend/values.yaml
  lumigator/infra/mzai/helm/lumigator/charts/frontend/Chart.yaml
  lumigator/infra/mzai/helm/lumigator/charts/frontend/README.md
  lumigator/infra/mzai/helm/ray/ray-cluster.yaml
Labels: documentation

#749 Changing tag regexp
  .github/workflows/lumigator_pipeline.yaml
Labels: gha

#751 Changing version for the release
  lumigator/python/mzai/backend/uv.lock
  lumigator/python/mzai/schemas/pyproject.toml
  lumigator/python/mzai/sdk/pyproject.toml
  lumigator/python/mzai/sdk/uv.lock
Labels: sdk, backend, schemas

#753 Changing version
  lumigator/python/mzai/backend/uv.lock
  lumigator/python/mzai/schemas/pyproject.toml
  lumigator/python/mzai/sdk/pyproject.toml
  lumigator/python/mzai/sdk/uv.lock
Labels: sdk, backend, schemas

#748 Decouple jobs service layer from the presentation layer (extract HTTP exceptions)
  lumigator/python/mzai/backend/backend/api/routes/jobs.py
  lumigator/python/mzai/backend/backend/main.py
  lumigator/python/mzai/backend/backend/services/datasets.py
  lumigator/python/mzai/backend/backend/services/exceptions/job_exceptions.py
  lumigator/python/mzai/backend/backend/services/experiments.py
  lumigator/python/mzai/backend/backend/services/jobs.py
  lumigator/python/mzai/backend/backend/tests/integration/api/routes/test_api_workflows.py
  lumigator/python/mzai/schemas/lumigator_schemas/jobs.py
Labels: backend, api, schemas

#698 Share HF cache from host home
  .env.template
  .github/workflows/lumigator_pipeline.yaml
  docker-compose.yaml
  docs/source/get-started/installation.md
Labels: documentation, gha

#756 [BUG] UI: Experiment details doesn't show max samples correctly
  lumigator/frontend/src/components/molecules/LExperimentDetails.vue
Labels: frontend

#632 Implement job_result_download for experiment service
  docs/source/conceptual-guides/endpoints.md
  lumigator/python/mzai/backend/backend/api/deps.py
  lumigator/python/mzai/backend/backend/api/routes/experiments_new.py
  lumigator/python/mzai/backend/backend/repositories/jobs.py
  lumigator/python/mzai/backend/backend/services/experiments.py
  lumigator/python/mzai/backend/backend/services/jobs.py
  lumigator/python/mzai/backend/backend/tests/conftest.py
  lumigator/python/mzai/backend/backend/tests/integration/api/routes/test_api_workflows.py
  lumigator/python/mzai/schemas/lumigator_schemas/datasets.py
  lumigator/python/mzai/schemas/lumigator_schemas/experiments.py
Labels: documentation, backend, api, schemas

#763 Fix integration tests for backend API
  lumigator/python/mzai/backend/backend/tests/integration/api/routes/test_api_workflows.py
Labels: backend

#764 Adding helm chart link to the Readme
  README.md
Labels: documentation

#765 Revising documentation on running unit/integration tests
  lumigator/python/mzai/backend/backend/tests/README.md
  lumigator/python/mzai/backend/pyproject.toml
  uv.lock
Labels: backend

#767 docs fixes
  docs/source/get-started/installation.md
  docs/source/operations-guide/kubernetes.md
Labels: documentation

#663 Add detailed experiment status
  lumigator/python/mzai/backend/backend/services/experiments.py
Labels: backend, api, schemas

#766 Speed up pipeline
  .github/workflows/delete_images.yaml
  .github/workflows/lumigator_pipeline.yaml
Labels: gha

#779 Fix for evaluate issues
  .github/workflows/lumigator_pipeline.yaml
  lumigator/backend/backend/tests/data/health_job_metadata.json
  lumigator/backend/backend/tests/data/health_job_metadata_ray.json
  lumigator/jobs/evaluator/requirements.txt
  lumigator/jobs/evaluator_lite/requirements.txt
  lumigator/sdk/tests/data/job-submit-resp.json
  lumigator/sdk/tests/data/jobs-submit.json
Labels: sdk, backend, gha

#780 Fix link checker
  .github/workflows/build_and_publish_docs.yaml
  docs/source/conf.py
  docs/source/get-started/installation.md
Labels: documentation, gha

#750 Issue 525: Tracking Interface with Mlflow
  .devcontainer/docker-compose.override.yaml
  .env.template
  lumigator/backend/backend/settings.py
  lumigator/backend/backend/tracking/__init__.py
  lumigator/backend/backend/tracking/mlflow.py
  lumigator/backend/backend/tracking/tracking_factory.py
  lumigator/backend/backend/tracking/tracking_interface.py
  lumigator/backend/pyproject.toml
  pyproject.toml
  uv.lock
Labels: dependencies, backend, schemas

#778 Backend: Dataset errors
  lumigator/backend/backend/api/routes/datasets.py
  lumigator/backend/backend/services/datasets.py
  lumigator/backend/backend/services/exceptions/base_exceptions.py
  lumigator/backend/backend/services/exceptions/dataset_exceptions.py
  lumigator/backend/backend/tests/conftest.py
  lumigator/backend/backend/tests/integration/api/routes/test_api_workflows.py
  lumigator/backend/backend/tests/unit/services/test_job_service.py
  lumigator/backend/uv.lock
Labels: backend, api
